<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
     <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div> 
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <h3 >Twillo Credential</h3>
                <form class="bd-n">
                    <div class="row">
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Activatio</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Twilio Sid</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Twilio Auth Token</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Twilio Verify Sid
                                </label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>VALID TWILLO NUMBER</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                           <button class="btn btn-primary ml-3 mt-2">Save</button>
                        </div>
                    </div>
                  </form>
                </div>
               
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <h3 >Fast2SMS Credential</h3>
                <form class="bd-n">
                    <div class="row">
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Activation
                                </label>
                            </div>
                            <div class="col-lg-8">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>AUTH KEY</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>ROUTE</label>
                            </div>
                            <div class="col-lg-8">
                                <select class="form-control">
                                    <option>Promotional Use</option>
                                    <option>Promotional Use</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Language</label>
                            </div>
                            <div class="col-lg-8">
                                <select class="form-control">
                                    <option>English</option>
                                    <option>Unicode</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>SENDER ID</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                           <button class="btn btn-primary ml-3 mt-2">Save</button>
                        </div>
                    </div>
                  </form>
                </div>
               
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <h3 >MIMO Credential</h3>
                <form class="bd-n">
                    <div class="row">
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Activatio</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>MIMO_USERNAME
                                </label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>MIMO_PASSWORD
                                </label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>MIMO_SENDER_ID
                                </label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                           <button class="btn btn-primary ml-3 mt-2">Save</button>
                        </div>
                    </div>
                  </form>
                </div>
               
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <h3 >SSL Wireless Credential</h3>
                <form class="bd-n">
                    <div class="row">
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Activatio</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>SSL SMS APITOKEN</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>SSL SMS SID</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>SSL SMS URL</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                           <button class="btn btn-primary ml-3 mt-2">Save</button>
                        </div>
                    </div>
                  </form>
                </div>
               
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <h3 >Nexmo Credential</h3>
                <form class="bd-n">
                    <div class="row">
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Activatio</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Nexmo Key</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                       </div>
                       <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>Nexmo Secret</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                            <div class="col-lg-4">
                                <label>SSL SMS URL</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Text..">
                            </div>
                        </div>
                        <div class="form-group fg-w">
                           <button class="btn btn-primary ml-3 mt-2">Save</button>
                        </div>
                    </div>
                  </form>
                </div>
               
            </div>
            
            
    </div> 
    <!-- End -->

    <div class="flex-grow-1"></div>
    
    <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->



  