<!-- <app-navbar-style-one></app-navbar-style-one> -->
<section class="bg-img">
  <div class="container">
    <div class="row">
      <div class="offset-lg-7 col-lg-5">
        <div class="card pd-5 rs-1">
          <div *ngIf="!otpsection" class="vesax-register">
            <div class="form-heading">
              <h3>Create Your Free Profile</h3>
              <p>Submit your below details to Sign Up</p>
            </div>
            <span class="sub-title-rs"><span></span></span>
            <form [formGroup]="signupuser" (ngSubmit)="submitandmovetootp()" ngNativeValidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="lb-ser">First Name <span style="color: red;">*</span> </label>
                    <input type="text" placeholder="First Name" class="form-control" formControlName="firstName"
                      required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="lb-ser">Last Name <span style="color: red;">*</span> </label>
                    <input type="text" placeholder="Last Name" class="form-control" formControlName="LastName" required>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="lb-ser">On Behalf <span style="color: red;">*</span> </label>
                    <select class="form-control" formControlName="Profilecreatedby">
                      <option [value]="profilefor._id" *ngFor="let profilefor of allprofilefor">
                        {{profilefor.name}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="lb-ser">Gender <span style="color: red;">*</span> </label>
                    <select class="form-control" #gender formControlName="Gender" required>
                      <option value="Male" selected>Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="lb-ser">Date Of Birth <span style="color: red;">*</span> </label>
                    <div id="otp" class="inputs2 d-flex flex-row justify-content-center ">
                      <select class="text-center form-control rounded" formControlName="dd" required>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                      </select>
                      <select class="text-center form-control rounded" formControlName="mm" required>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                      </select>
                      <select class="text-center form-control rounded" formControlName="yyyy" required>
                        <option value="1961">1961</option>
                        <option value="1962">1962</option>
                        <option value="1963">1963</option>
                        <option value="1964">1964</option>
                        <option value="1965">1965</option>
                        <option value="1966">1966</option>
                        <option value="1967">1967</option>
                        <option value="1968">1968</option>
                        <option value="1969">1969</option>
                        <option value="1970">1970</option>
                        <option value="1971">1971</option>
                        <option value="1972">1972</option>
                        <option value="1973">1973</option>
                        <option value="1974">1974</option>
                        <option value="1975">1975</option>
                        <option value="1976">1976</option>
                        <option value="1978">1978</option>
                        <option value="1979">1979</option>
                        <option value="1980">1980</option>
                        <option value="1981">1981</option>
                        <option value="1982">1982</option>
                        <option value="1983">1983</option>
                        <option value="1984">1984</option>
                        <option value="1985">1985</option>
                        <option value="1986">1986</option>
                        <option value="1987">1987</option>
                        <option value="1988">1988</option>
                        <option value="1989">1989</option>
                        <option value="1990">1990</option>
                        <option value="1991">1991</option>
                        <option value="1992">1992</option>
                        <option value="1993">1993</option>
                        <option value="1994">1994</option>
                        <option value="1995">1995</option>
                        <option value="1996">1996</option>
                        <option value="1997">1997</option>
                        <option value="1998">1998</option>
                        <option value="1999">1999</option>
                        <option value="2000" selected>2000</option>
                        <option value="2001" *ngIf="gender.value == 'Female'">2001</option>
                        <option value="2002" *ngIf="gender.value == 'Female'">2002</option>
                        <option value="2003" *ngIf="gender.value == 'Female'">2003</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="lb-ser">Email </label>
                    <input type="email" placeholder="Email" class="form-control" formControlName="ConfirmEmail">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="lb-ser">Marital Status<span style="color: red;">*</span> </label>
                    <select class="form-control" formControlName="Maritalstatus">
                      <option [value]="maritalstatus._id" *ngFor="let maritalstatus of allmaritalstatus">
                        {{maritalstatus?.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="lb-ser">Mobile Number <span style="color: red;">*</span><small>( We will send
                        verification code on this )</small></label>
                    <div class="input-group">
                      <span class="custom-dropdown">
                        <select class="form-control" style="display: block;">
                          <option [value]="country._id" *ngFor="let country of allcountry">
                            +{{country?.callingCodes}}
                          </option>
                          <option value="610bb1c7b9e2fb19cc060ccc" selected>+91</option>
                        </select></span>

                      <!-- <img [src]="country?.flag" />
                       -->
                      <input class="form-control cd-n" type="number" min="1000000000" max="9999999999" maxlength="10"
                        placeholder="Number" formControlName="Mobile" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="lb-ser">Create your password to Login <span style="color: red;">*</span></label>
                    <mat-form-field appearance="outline" class="mb-w">
                      <mat-label>Enter your password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="ConfirmPassword" required>
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-check chk-t">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" [value]="1" formControlName="agree_terms_conditions"
                    required>By
                  signing up you agree to our
                  <span><a href="/termsandcondition" class="tac">T&C</a></span> and <span><a class="tac"
                      href="/privacy-policy">Privacy Policy</a></span>
                </label>
              </div>

              <button type="submit" id="regform" class="btnrg">
                Register Now</button>
            </form>
            <span class="already-account">Already have an account? <a
                style="cursor: pointer; color: blue; font-weight: 500;" href="/login">Login</a></span>
          </div>
          <div *ngIf="otpsection  togglembcheck" class="modal-content rs-3">
            <h2 class="d-flex justify-content-center tx-v"> Verify your Mobile number</h2>
            <h4 class="d-flex justify-content-center sub-title tx-ch"><span>Please check the otp sent to your
                Device
                {{mobilenumber}} </span></h4>
            <form [formGroup]="verifyotpform" (ngSubmit)="verifyotp()" ngNativeValidate>
              <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                <input #digitone style="border: 1px solid indigo;" class="m-2 text-center form-control rounded"
                  type="text" id="input1" formControlName="input1" (keyup)="onDigitInput($event)" maxlength="1"
                  required />
                <input #digittwo style="border: 1px solid indigo;" class="m-2 text-center form-control rounded"
                  (keyup)="onDigitInput($event)" type="text" id="input2" formControlName="input2" maxlength="1"
                  required />
                <input #digitthree style="border: 1px solid indigo;" class="m-2 text-center form-control rounded"
                  (keyup)="onDigitInput($event)" type="text" id="input3" formControlName="input3" maxlength="1"
                  required />
                <input #digitfour style="border: 1px solid indigo;" class="m-2 text-center form-control rounded"
                  (keyup)="onDigitInput($event)" type="text" id="input4" formControlName="input4" maxlength="1"
                  required />
                <input #digitfive style="border: 1px solid indigo;" class="m-2 text-center form-control rounded"
                  (keyup)="onDigitInput($event)" type="text" id="input5" formControlName="input5" maxlength="1"
                  required />
                <input #digitsix style="border: 1px solid indigo;" class="m-2 text-center form-control rounded"
                  (keyup)="onDigitInput($event)" type="text" id="input6" formControlName="input6" maxlength="1"
                  required />
              </div>
              <div class="btn-rv">
                <button type="button" class="btn-ft-set" (click)="resendotp()">Resend OTP</button>
                <button type="submit" class="btn-ft-get"><span><a class="anchorlink">Verify</a></span></button>
              </div>

            </form>
          </div>
          <div *ngIf="otpsection" class="mb-chn">
            <h3 class="ch-op">
              <a href="javascript:void(0);" (click)="changenumber()">Change Mobile Number</a>
            </h3>
            <div *ngIf="!togglembcheck" class="add-number">
              <form [formGroup]="changenumberform" (ngSubmit)="submitchangenumber()" ngNativeValidate>
                <div class="form-group">
                  <label>Add New Number</label>
                  <input type="number" class="form-control" placeholder="Add New Number" formControlName="Mobile"
                    min="1000000000" max="9999999999">
                </div>
                <button type="submit" class="btn-ft-get"><span><a class="anchorlink">Submit</a></span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
