   <section >
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                          <img src="assets/img/user1.png"/>
                          <div class="file a-btn">
							Upload profile Photo 1
							<input type="file" name="file" class="input-one"/>
					  	  </div>
                          <p class="bt-tetx">( Front facing photo with clear face is recomended )</p>
                        </div>
                        <div class="col-lg-4 text-center">
                          <img src="assets/img/user1.png"/> 
                          <div class="file a-btn">
							Upload profile Photo 2
							<input type="file" name="file" class="input-one"/>
					  	  </div>
                          <p class="bt-tetx">( Full photograph from front recomended )</p>
                        </div>
                        <div class="col-lg-4 text-center">
                          <img src="assets/img/user1.png"/> 
                          <div class="file a-btn">
							Upload profile Photo 3
							<input type="file" name="file" class="input-one"/>
					  	  </div>
                          <p class="bt-tetx">( Full lenth photograph  recomended )</p>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="profile-content">
                                    <div class="row">
                                      <div class="col-lg-12 col-md-12">
                                        <div class="my-profile-box">
                                            <div class="content-box">
                                                <div class="heading-title">
                                                    <h3>Basic Information</h3>
                                                </div>
                                                <div class="info-text">
                                                    <table class="tb-text">
                                                         <tbody class="tb-text">
                                                             <tr class="wd">
                                                                <td class="wd1">Name:</td>
                                                                <td class="wd1">Lorem</td>
                                                             </tr>
                                                             <tr class="wd">
                                                                <td class="wd1">Gender:</td>
                                                                <td class="wd1">Male</td>
                                                             </tr>
                                                             <tr class="wd">
                                                                <td class="wd1">Age:</td>
                                                                <td class="wd1">25</td>
                                                             </tr>
                                                             <tr class="wd">
                                                                <td class="wd1">Date of Birth:</td>
                                                                <td class="wd1">23/7/2021</td>
                                                             </tr>
                                                             <tr class="wd">
                                                                <td class="wd1">Place Of Birth:</td>
                                                                <td class="wd1">Indore</td>
                                                             </tr>
                                                             <tr class="wd">
                                                                <td class="wd1">Marital Status:</td>
                                                                <td class="wd1">Unmarried</td>
                                                              </tr>
                                                              <tr class="wd">
                                                                <td class="wd1">Children Status:</td>
                                                                <td class="wd1">No Children</td>
                                                              </tr>
                                                              <tr class="wd">
                                                                <td class="wd1">Time of Birth:</td>
                                                                <td class="wd1">04:29:00 Pm</td>
                                                              </tr>
                                                         </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- education -->
                                            <div class="content-box">
                                              <div class="heading-title">
                                                  <h3>Education and Occupation</h3>
                                              </div>
                                              <div class="info-text">
                                                  <table class="tb-text">
                                                       <tbody class="tb-text">
                                                           <tr class="wd">
                                                              <td class="wd1">Education:</td>
                                                              <td class="wd1">High School</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Education Details:</td>
                                                              <td class="wd1">h</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Occupation:</td>
                                                              <td class="wd1">Not Working</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Occupation Detail:</td>
                                                              <td class="wd1">No</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Employee In:</td>
                                                              <td class="wd1">Not Employeed</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Annual Income:</td>
                                                              <td class="wd1">80,000 per yaer</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Children Status:</td>
                                                              <td class="wd1">No Children</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Time of Birth:</td>
                                                              <td class="wd1">04:29:00 Pm</td>
                                                            </tr>
                                                       </tbody>
                                                  </table>
                                              </div>
                                            </div>
                                            <!-- socio religion background -->
                                            <div class="content-box">
                                              <div class="heading-title">
                                                  <h3>Socio Religious Background</h3>
                                              </div>
                                              <div class="info-text">
                                                  <table class="tb-text">
                                                       <tbody class="tb-text">
                                                           <tr class="wd">
                                                              <td class="wd1">Religion:</td>
                                                              <td class="wd1">Hindu</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Caste/division</td>
                                                              <td class="wd1">Chaudhary-girth</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Manglik/Dosham:</td>
                                                              <td class="wd1">Manglik</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Gothram:</td>
                                                              <td class="wd1">No</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Language:</td>
                                                              <td class="wd1">Hindi</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Star:</td>
                                                              <td class="wd1">Does Not Matter</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Moonsign:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Horoscope Match:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                       </tbody>
                                                  </table>
                                              </div>
                                            </div>
                                            <!-- Physical Status and Lifestyle -->
                                            <div class="content-box">
                                              <div class="heading-title">
                                                  <h3>Physical Status and Lifestyle</h3>
                                              </div>
                                              <div class="info-text">
                                                  <table class="tb-text">
                                                       <tbody class="tb-text">
                                                           <tr class="wd">
                                                              <td class="wd1">Height:</td>
                                                              <td class="wd1">Sft 4in ( 162cm )</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Weight</td>
                                                              <td class="wd1">Chaudhary-girth</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Blood Group:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Complexion:</td>
                                                              <td class="wd1">No</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Diet:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Smoke:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Drink:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                            
                                                       </tbody>
                                                  </table>
                                              </div>
                                            </div>
                                            <!-- profile description -->
                                            <div class="content-box">
                                              <div class="heading-title">
                                                  <h3>Profile Description</h3>
                                              </div>
                                              <div class="info-text">
                                                  <h3>dummy Account</h3>
                                                <!-- <table class="tb-text">
                                                       <tbody class="tb-text">
                                                           <tr class="wd">
                                                              <td class="wd1">Height:</td>
                                                              <td class="wd1">Sft 4in ( 162cm )</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Weight</td>
                                                              <td class="wd1">Chaudhary-girth</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Blood Group:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Complexion:</td>
                                                              <td class="wd1">No</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Diet:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Smoke:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Drink:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Horoscope Match:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                       </tbody>
                                                  </table> -->
                                              </div>
                                            </div>
                                            <!-- family detail -->
                                            <div class="content-box">
                                              <div class="heading-title">
                                                  <h3>Family Details</h3>
                                              </div>
                                              <div class="info-text">
                                                  <table class="tb-text">
                                                       <tbody class="tb-text">
                                                           <tr class="wd">
                                                              <td class="wd1">Family Values:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Family Type:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Family Status:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Father Occupation:</td>
                                                              <td class="wd1">Retired</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Mother Occupation:</td>
                                                              <td class="wd1">HouseWife</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Family Origin:</td>
                                                              <td class="wd1">Kangra</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">No. of Brothers:</td>
                                                              <td class="wd1">3 Elder brother and 2 youngest brother</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">No. of Sister:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                       </tbody>
                                                  </table>
                                              </div>
                                            </div>
                                        </div>
                                       </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
