<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
     <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <h3 >SMTP Settings</h3>
            <form class="bd-n">
                <div class="row">
                   <div class="form-group fg-w">
                        <div class="col-lg-4">
                            <label>MAIL HOST</label>
                        </div>
                        <div class="col-lg-8">
                          <select class="form-control">
                            <option>1</option>
                            <option>1</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group fg-w">
                        <div class="col-lg-4">
                            <label>MAIL HOST</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="test@beforepurchase.com">
                        </div>
                    </div>
                    <div class="form-group fg-w">
                        <div class="col-lg-4">
                            <label>MAIL PORT</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="test@beforepurchase.com">
                        </div>
                    </div>
                    <div class="form-group fg-w">
                      <div class="col-lg-4">
                          <label>MAIL USERNAME</label>
                      </div>
                      <div class="col-lg-8">
                          <input type="text" class="form-control" placeholder="test@beforepurchase.com">
                      </div>
                    </div>
                    <div class="form-group fg-w">
                      <div class="col-lg-4">
                          <label>MAIL PASSWORD</label>
                      </div>
                      <div class="col-lg-8">
                          <input type="text" class="form-control" placeholder="12345678">
                      </div>
                    </div>
                    <div class="form-group fg-w">
                      <div class="col-lg-4">
                          <label>MAIL ENCRYPTION</label>
                      </div>
                      <div class="col-lg-8">
                          <input type="text" class="form-control" placeholder="test@beforepurchase.com">
                      </div>
                    </div>
                    <div class="form-group fg-w">
                      <div class="col-lg-4">
                          <label>MAIL FROM ADDRESS</label>
                      </div>
                      <div class="col-lg-8">
                          <input type="text" class="form-control" placeholder="111 address">
                      </div>
                    </div>
                    <div class="form-group fg-w">
                      <div class="col-lg-4">
                          <label>MAIL FROM NAME</label>
                      </div>
                      <div class="col-lg-8">
                          <input type="text" class="form-control" placeholder="test@beforepurchase.com">
                      </div>
                    </div>
                    <div class="form-group fg-w">
                       <button class="btn btn-primary ml-3 mt-2">Update</button>
                    </div>
                </div>
              </form>
            </div>

        </div>
        <div class="col-lg-6">
          <div class="card">
            <h3 >Instruction</h3>

                <div class="row">
                  <div class="col-lg-12">
                    <p class="smtp-1">Please be carefull when you are configuring SMTP. For incorrect configuration you will get error at the time of order place, new registration, sending newsletter.
                    </p>
                  </div>
                  <div class="col-lg-12">
                    <h6 class="smtp-6">For Non-SSL</h6>
                     <ul class="smtp-2">
                       <li class="smtp-3">Select sendmail for Mail Driver if you face any issue after configuring smtp as Mail Driver
                      </li>
                      <li class="smtp-3">Set Mail Host according to your server Mail Client Manual Setting
                      </li>
                      <li class="smtp-3">Set Mail port as 587</li>
                      <li class="smtp-3">Set Mail Encryption as ssl if you face issue with tls</li>
                     </ul>
                  </div>

                  <div class="col-lg-12">
                    <h6 class="smtp-6">For SSL</h6>
                     <ul class="smtp-2">
                       <li class="smtp-3">Select sendmail for Mail Driver if you face any issue after configuring smtp as Mail Driver</li>
                      <li class="smtp-3">Set Mail Host according to your server Mail Client Manual Setting
                      </li>
                      <li class="smtp-3">Set Mail port as 465</li>
                      <li class="smtp-3">Set Mail Encryption as ssl</li>
                     </ul>
                  </div>
                </div>

            </div>

        </div>
        <div class="col-lg-6">
            <div class="card">
                <h3 >Test SMTP configuration</h3>
            <form class="bd-n">
                <div class="row">
                   <div class="form-group fg-w">
                        <div class="col-lg-12">
                            <input type="email" class="form-control" placeholder="admin@example.com">
                        </div>
                   </div>
                    <div class="form-group fg-w">
                       <button class="btn btn-primary ml-3 mt-2">Send test email</button>
                    </div>
                </div>
              </form>
            </div>

        </div>

    </div>
    <!-- End -->

    <div class="flex-grow-1"></div>

    <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->



