<section class="bg-img">
    <div class="container">
        <div class="row">
            <div class="offset-lg-6 col-lg-6">
                <div class="card pd-5">
                    <div class="tl-text" >
                        <h3>Upload Bride/Grooms Photograph </h3>
                        <p>We request you to upload three clear photographs of bride/groom, You may choose in Privacy Setting whom you wish to display them</p>
                    </div>
                    <div class="row">
                         <div class="col-lg-12">
                             <div class="img-box1">
                                 <p>Photo1</p>
                                <img src="assets/img/user1.png" class="wd-img"/>
                                <div class="">
                                    <input type="button " class="btn btn-primary btn-ch" value="Change">
                                </div>
                             </div>
                         </div>
                         <div class="col-lg-6">
                            <div class="img-box2">
                                <p>Photo2</p>
                                <img src="assets/img/user1.png" class="wd-img-circle"/>
                                <div class="">
                                    <input type="button " class="btn btn-primary btn-ch" value="Change">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="img-box3">
                                <p>Photo2</p>
                                <img src="assets/img/user1.png" class="wd-img-circle" />
                                <div class="">
                                    <input type="button " class="btn btn-primary btn-ch" value="Change">
                                </div>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button type="button" class="btnrg" data-toggle="modal" data-target="#verifymobile" data-dismiss="modal">
                               LETS START</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>