<app-navbar-style-one></app-navbar-style-one>
<section class="bg-img">
  <div class="container">
    <div class="row">
      <div class="offset-lg-6 col-lg-6">
        <div class="card pd-5">
          <div class="tl-text">
            <h3>Upload Bride/Grooms Photograph </h3>
            <p>We request you to upload three clear photographs of bride/groom, You may choose in Privacy Setting whom
              you wish to display them</p>
          </div>
          <form class="col-lg-12 text-center" [formGroup]="imageupload1" (ngSubmit)="uploadimage1();">
            <div>
              <img [src]="croppedImage1 || dumPhoto" class="img-fixed" style="max-width: 350px;"/>
              <div *ngIf="!readyupload1" class="file a-btn">
                <!-- Upload Photo 1 -->
                <!-- <input type="file" (change)="imagePreview1($event);" name="file" class="input-one" /> -->
                <label class="filelabel" style="margin: 10px auto;">
                  <i class="fa fa-paperclip">
                  </i>
                  <span class="title">
                    Upload Photo 1
                  </span>
                  <input class="FileUpload1"  (change)="imagePreview1($event);" id="FileInput" name="booking_attachment" type="file" />
              </label>
              </div>
              <div class="row" style="justify-content: center;">
              <button *ngIf="readyupload1" class="btn btn-success mt-2" type="submit">Upload</button>
              <button *ngIf="readyupload1" class="btn btn-danger mt-2" style="margin-left: 10px;" type="button"
                (click)="cancelupload1()">Cancel</button>
              </div>
            </div>
          </form>
          <div class="row" >
          <form class="col-lg-6 text-center" [formGroup]="imageupload2" (ngSubmit)="uploadimage2()">
            <div>
              <img [src]="croppedImage2 || dumPhoto" class="img-fixed"  style="max-width: 250px;"/>
              <div *ngIf="!readyupload2" class="file a-btn">
                <!-- Upload profile Photo 2 -->
                <!-- <input (change)="imagePreview2($event);" type="file" name="file" class="input-one" /> -->
                <label class="filelabel" style="margin: 10px auto;">
                  <i class="fa fa-paperclip">
                  </i>
                  <span class="title">
                    Upload Photo 2
                  </span>
                  <input class="FileUpload1"  (change)="imagePreview2($event);" id="FileInput" name="booking_attachment" type="file" />
              </label>
              </div>
              <div class="row" style="justify-content: center;">
              <button *ngIf="readyupload2" class="btn btn-success mt-2" type="submit">Upload</button>
              <button *ngIf="readyupload2" class="btn btn-danger mt-2" style="margin-left: 10px;" type="button"
                (click)="cancelupload2()">Cancel</button>
              </div>
            </div>
          </form>
          <form class="col-lg-6 text-center" [formGroup]="imageupload3" (ngSubmit)="uploadimage3()">
            <div>
              <img [src]="croppedImage3 || dumPhoto" class="img-fixed" style="max-width: 250px;"/>
              <div *ngIf="!readyupload3" class="file a-btn">
                <!-- Upload profile Photo 3 -->
                <!-- <input (change)="imagePreview3($event);" type="file" name="file" class="input-one" /> -->
                <label class="filelabel" style="margin: 10px auto;">
                  <i class="fa fa-paperclip">
                  </i>
                  <span class="title">
                    Upload Photo 3
                  </span>
                  <input class="FileUpload1"  (change)="imagePreview3($event);" id="FileInput" name="booking_attachment" type="file" />
              </label>
              </div>
              <div class="row" style="justify-content: center;">
              <button *ngIf="readyupload3" class="btn btn-success mt-2" type="submit">Upload</button>
              <button *ngIf="readyupload3" class="btn btn-danger mt-2" style="margin-left: 10px;" type="button"
                (click)="cancelupload3()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
          <div *ngIf="cropper1">
            <image-cropper style="width: 500px;" [imageChangedEvent]="imageChangedEvent1" [maintainAspectRatio]="true"
              [aspectRatio]="1/1" (imageLoaded)="imageLoaded()" (imageCropped)="imageCropped1($event)"
              (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
          </div>
          <div *ngIf="cropper2">
            <image-cropper style="width: 500px;" [imageChangedEvent]="imageChangedEvent2" [maintainAspectRatio]="true"
              [aspectRatio]="1/1" (imageLoaded)="imageLoaded()" (imageCropped)="imageCropped2($event)"
              (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
          </div>
          <div *ngIf="cropper3">
            <image-cropper style="width: 500px;" [imageChangedEvent]="imageChangedEvent3" [maintainAspectRatio]="true"
              [aspectRatio]="1/1" (imageLoaded)="imageLoaded()" (imageCropped)="imageCropped3($event)"
              (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
          </div>
          <div class="btn-box">
            <button type="button" class="btnrg" (click)="movetouserhome()">
              LETS START</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
