<app-navbar-style-one></app-navbar-style-one>


<!-- Start Main Content Wrapper Area -->
<div class="sec-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5"></div>
      <div class="col-lg-7 offset-lg-5">
        <div class="row">
          <div class="col-lg-7">
            <h3 class="pft1">Member ID: {{userdetails?.Prefix}}{{userdetails?.MatriID}}</h3>
            <p class="pft2"><span class="pft3"></span></p>
            <div class="pft4">
              <p>{{userdetails?.Age }} Yrs, {{userdetails?.Height?.feetinchvalue}} ({{userdetails?.Height?.cmvalue }}
                cm)
              </p>
              <p>{{userdetails?.Religion?.name}}, {{userdetails?.Caste?.name}}</p>
            </div>
            <div class="pft4">
              <p>{{userdetails?.Maritalstatus?.name}}</p>
              <p>From: {{userdetails?.LCity?.name }}, {{userdetails?.LState?.name }}, {{ userdetails?.LCountry?.name}}
              </p>
            </div>
          </div>
          <div class="col-lg-5 pft5">
            <h3 class="pft1">Like this Profile ?</h3>
            <a (click)="sendinterest(userdetails._id)" class="active">
              <div class="pft-i">
                <i class="flaticon-heart"></i>
              </div>
              <p style="color:#fff;">Response to Interest</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <!-- Start -->
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 mt-top">
        <div class="my-profile-box">
          <form>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div   *ngIf="!userdetails.photo_privacy" class="form-group profile-box">
                  <img src="{{userdetails?.Photo1}}" alt="image">
                </div>
                <div   *ngIf="userdetails.photo_privacy" class="form-group profile-box" style="filter: blur(15px);">
                  <img src="{{userdetails?.Photo1}}" alt="image">
                </div>
                <p class="mid">Member ID: <span class="mds">{{userdetails?.Prefix}}{{userdetails?.MatriID}}</span></p>
                <h3 class="pf-n">{{userdetails?.Name}}</h3>

                <div class="col-lg-12 col-md-12"></div>
                <div class="pft-bx">
                  <a href="#">
                    <i class=" bx bx-list-ul pftcolr"></i>
                    <p class="pftcolr">Shortlisting..</p>
                  </a>
                </div>
                <div class="pft-bx1 ">
                  <a href="/user-dashboard/user-chat">
                    <i class="bx bx-chat pftcolr"></i>
                    <p class="pftcolr">Chat</p>
                  </a>
                </div>
                <div class="pft-bx1" >
                  <a href="#">
                    <i class="bx bx-info-circle pftcolr"></i>
                    <p class="pftcolr">Report</p>
                  </a>
                </div>

              </div>
              <div class="col-lg-12 col-md-12">
                <app-similar-profile></app-similar-profile>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="my-profile-box">
          <app-profile-tabs></app-profile-tabs>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>


  <app-footer-style-two></app-footer-style-two>
  <!-- End Main Content Wrapper Area -->
