<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-dashboard-navbar></app-dashboard-navbar>

  <!-- Breadcrumb Area -->
  <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
    <h1>{{Content.title}}</h1>
    <ol class="breadcrumb">
      <li class="item"><a routerLink="/">Pages</a></li>
      <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
      <li class="item">{{Content.title}}</li>
    </ol>
  </div>
  <!-- End Breadcrumb Area -->

  <!-- Start -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <h3>Staff Information</h3>
        <form [formGroup]="staff" (ngSubmit)="submitForm()" class="bd-n" ngNativeValidate>
          <div class="row">
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>First Name <span style="color: red;">*</span> </label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="First Name" formControlName="firstname" required>
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Last Name <span style="color: red;">*</span></label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname" required>
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Email <span style="color: red;">*</span>
                </label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" formControlName="Email" required>
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Mobile <span style="color: red;">*</span></label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="Mobile" formControlName="Mobile" required>
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Password <span style="color: red;">*</span></label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password"
                    required>
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Role <span style="color: red;">*</span></label>
              </div>
              <div class="col-lg-8">
                <select type="text" class="form-control" placeholder="name" formControlName="role" required>
                  <option [value]="role._id" *ngFor="let role of allrole">
                    {{role.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Image <span style="color: red;">*</span></label>
              </div>
              <div class="col-lg-8">
                <input type="file" class="form-control" placeholder="" formControlName="">
              </div>
            </div>
            <div class="form-group fg-w">
              <button type="submit" class="btn btn-primary ml-3 mt-2">Save</button>
            </div>
          </div>
        </form>
      </div>

    </div>





  </div>
  <!-- End -->

  <div class="flex-grow-1"></div>

  <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->
