<app-navbar-style-one></app-navbar-style-one>

<section class="pt-70 pb-50 bg-plan">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-pricing-box text-center">
          <h3 class="plan-st-1 st-bronze">{{bplan?.plantitle}} <span class="plan-st-2"></span></h3>
          <p class="st-green">75% Off <del class="st-del">₹ {{bplan?.website_rate*100/75 | number : '1.0-0'}}</del>
          </p>
          <h2>₹ {{bplan?.website_rate}}</h2>
          <p>₹ {{bplan?.website_rate}} Per Month</p>
          <div class="pricing-features">
            <ul class="text-left">
              <li class="st-black"> Send {{bplan?.num_chat_init}} Messages</li>
              <li class="st-black"> View upto {{bplan?.num_view_contacts_details}} Contact Number</li>
              <li><del>View upto 150 Contact Number</del></li>
              <li><del>View upto 150 Contact Number</del></li>
            </ul>
          </div>
          <a style="cursor: pointer;" (click)="makepaymentreq(bplan._id)" class="btn-con">Continue</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-pricing-box text-center">
          <h3 class="plan-st-1 st-silver">{{splan?.plantitle}} <span class="plan-st-2"></span></h3>
          <p class="st-green">75% Off <del class="st-del">₹ {{splan?.website_rate*100/75 | number : '1.0-0'}}</del></p>
          <h2>₹ {{splan?.website_rate}}</h2>
          <p>₹ {{splan?.website_rate}} Per Month</p>
          <div class="pricing-features">
            <ul class="text-left">
              <li class="st-black"> Send {{splan?.num_chat_init}} Messages</li>
              <li class="st-black"> View upto {{splan?.num_view_contacts_details}} Contact Number</li>
              <li class="st-black">View upto 150 Contact Number</li>
              <li><del>View upto 150 Contact Number</del></li>
            </ul>
          </div>
          <a style="cursor: pointer;" (click)="makepaymentreq(splan._id)" class="btn-con">Continue</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-pricing-box text-center">
          <h3 class="plan-st-1 st-silver">{{spplan?.plantitle}} <span class="plan-st-2"></span></h3>
          <p class="st-green">75% Off <del class="st-del">₹ {{spplan?.website_rate*100/75 | number : '1.0-0'}}</del></p>
          <h2>₹ {{spplan?.website_rate}}</h2>
          <p>₹ {{spplan?.website_rate}} Per Month</p>
          <div class="pricing-features">
            <ul class="text-left">
              <li class="st-black"> Send {{spplan?.num_chat_init}} Messages</li>
              <li class="st-black"> View upto {{splan?.num_view_contacts_details}} Contact Number</li>
              <li><del>View upto 150 Contact Number</del></li>
              <li><del>View upto 150 Contact Number</del></li>
            </ul>
          </div>
          <a style="cursor: pointer;" (click)="makepaymentreq(spplan._id)" class="btn-con">Continue</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-pricing-box text-center">
          <h3 class="plan-st-1 st-gold">{{gplan?.plantitle}} <span class="plan-st-2"></span></h3>
          <p class="st-green">75% Off <del class="st-del">₹ {{gplan?.website_rate*100/75 | number : '1.0-0'}}</del></p>
          <h2>₹ {{gplan?.website_rate}}</h2>
          <p>₹ {{gplan?.website_rate}} Per Month</p>
          <div class="pricing-features">
            <ul class="text-left">
              <li class="st-black"> Send {{gplan?.num_chat_init}} Messages</li>
              <li class="st-black"> View upto {{gplan?.num_view_contacts_details}} Contact Number</li>
              <li><del>View upto 150 Contact Number</del></li>
              <li><del>View upto 150 Contact Number</del></li>
            </ul>
          </div>
          <a style="cursor: pointer;" (click)="makepaymentreq(gplan._id)" class="btn-con">Continue</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-pricing-box text-center">
          <h3 class="plan-st-1  st-gold">{{gpplan?.plantitle}} <span class="plan-st-2"></span></h3>
          <p class="st-green">75% Off <del class="st-del">₹ {{gpplan?.website_rate*100/75 | number : '1.0-0'}}</del></p>
          <h2>₹ {{gpplan?.website_rate}}</h2>
          <p>₹ {{gpplan?.website_rate}} Per Month</p>
          <div class="pricing-features">
            <ul class="text-left">
              <li class="st-black"> Send {{gpplan?.num_chat_init}} Messages</li>
              <li class="st-black"> View upto {{gpplan?.num_view_contacts_details}} Contact Number</li>
              <li class="st-black"> View upto 150 Contact Number</li>
              <li class="st-black"> View upto 150 Contact Number</li>
            </ul>
          </div>
          <a style="cursor: pointer;" (click)="makepaymentreq(gpplan._id)" class="btn-con">Continue</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="pt-70 pb-50 bg-plan">
  <div class="container">
    <div class="row">
      <iframe id="iframe_id" src="https://www.instamojo.com/@ayushya" allowtrancparency="yes" frameborder="o"></iframe>
    </div>
  </div>
</section> -->




<app-footer-style-two></app-footer-style-two>
