// new css
.col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 20.6666666667%;
}
section.pt-70.pb-50.bg-plan{
    background: {
        image: url(../../../../assets/img/bg-plan.jpg);
        position:  center;
        size: cover;
        repeat: no-repeat;
    };
}
h3.plan-st-1.st-bronze {
    background: 
			conic-gradient(
				  #d95641, #b14439, #b2453a, #d25645, 
				  #d56847, #d05441, #b85137, #b2453a, 
				  #c34f40, #df4647, #a94338, #c94943, 
				  #c85442, #a4413c, #d9543a, #d1564e, 
				  #ab4338, #bb4a3c, #dc5843, #b94839, 
				  #aa4237, #c24e42, #ce523f, #ab4338, 
				  #dd5944, #ca4d33, #ab4338, #cb503e, 
				  #d95641);
    color: #fff;
}
h3.plan-st-1.st-silver {
    background: 
			conic-gradient(
				  #d7d7d7, #c3c3c3, #cccccc, #c6c6c6, 
				  #d3d3d3, #d8d8d8, #d5d5d5, #d8d8d8, 
				  #d3d3d3, #c5c5c5, #c0c0c0, #bfbfbf, 
				  #d0d0d0, #d9d9d9, #d1d1d1, #c5c5c5, 
				  #c8c8c8, #d7d7d7, #d5d5d5, #cdcdcd, 
				  #c4c4c4, #d9d9d9, #cecece, #c5c5c5, 
				  #c5c5c5, #cdcdcd, #d8d8d8, #d9d9d9, 
				  #d7d7d7);
    color: #000;
}
h3.plan-st-1.st-gold {
    background: 
			conic-gradient(
				  #edc800, #e3b600, #f3cf00, #ffe800, 
				  #ffe900, #ffeb00, #ffe000, #ebc500, 
				  #e0b100, #f1cc00, #fcdc00, #ffe500, 
				  #fad900, #eec200, #e7b900, #f7d300, 
				  #ffe800, #ffe300, #f5d100, #e6b900, 
				  #e3b600, #f4d000, #ffe400, #ebc600, 
				  #e3b600, #f6d500, #ffe900, #ffe90a, 
				  #edc800);
    color: #000;
}
p.st-green {
    color: #0a9c0f;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2px;
}
del.st-del {
    color: #635f5f;
}
a.btn-con {
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 100px;
}
span.plan-st-2 {
    color: #635f5f;
    font-size: 16px;
    font-weight: 400;
}
h3.plan-st-1 {
    font-size: 20px !important;
    font-weight: 700;
    margin-bottom: 35px !important;
}
li.st-black {
    color: #000 !important;
    font-weight: 500;
}
// close



.single-pricing-box {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-color: var(--whiteColor);
    padding: 40px 10px;
    width: 215px;
    box-shadow: 0px 9px 20px 0px rgb(22 26 57 / 36%);

    h3 {
        margin-bottom: 0;
        background-color: #f9f9f9;
        text-align: center;
        font-size: 20px;
        padding: 12px 12px 11px;
    }
    .pricing-features {
        margin-bottom: 20px;
        padding-top: 30px;

        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                margin-bottom: 15px;
                color: #9d9ea5;
                position: relative;
                padding-left: 26px;
                font-size: 14px;

                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    position: absolute;
                    left: 0;
                    top: 3px;
                    width: 16px;
                    height: 16px;
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                    border-radius: 50%;
                    line-height: 16px;
                    text-align: center;
                    display: inline-block;
                    font-size: 13px;

                    &.action-close {
                        background-color: red;
                        padding-top: 1px;
                    }
                }
            }
        }
    }
    .price {
        font: {
            size: 35px;
            weight: 700;
        };
        span {
            display: block;
            color: #4b5280;
            margin-top: -2px;
            font: {
                size: 16px;
                weight: 500;
            };
        }
    }
    .default-btn {
        margin-top: 20px;
    }
}

.pricing-features {
    margin-bottom: 20px;
    padding-top: 30px;

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 15px;
            color: #4b5280;
            position: relative;
            padding-left: 26px;

            &:last-child {
                margin-bottom: 0;
            }
            i {
                position: absolute;
                left: 0;
                top: 3px;
                width: 16px;
                height: 16px;
                background-color: var(--mainColor);
                color: var(--whiteColor);
                border-radius: 50%;
                line-height: 16px;
                text-align: center;
                display: inline-block;
                font-size: 13px;

                &.action-close {
                    background-color: red;
                    padding-top: 1px;
                }
            }
        }
    }
}
/* Max width 767px */
@media only screen and (max-width: 767px) {

    
    .single-pricing-box {
        padding: 20px;

        h3 {
            font-size: 17px;
        }
        .price {
            font-size: 28px;

            span {
                font-size: 15px;
            }
        }
        .pricing-features {
            ul {
                li {
                    i.action-close {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .col-lg-2 {
        flex: none;
        max-width: none;
    }
    .single-pricing-box{
        width: 100%;
    }

}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {



}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

   

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}