<app-user-dashboard-sidemenu></app-user-dashboard-sidemenu>
<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-user-dashboard-navbar></app-user-dashboard-navbar>

   
    <!-- Start -->
    <div class="row">
       

        <!-- Start Page Title Area -->
        <!-- <div class="page-title-bg" *ngFor="let Content of pageTitleContent;">
            <div class="container">
                <h2 class="h_rs">{{Content.title}}</h2>
                <form>
                    <div class="row m-0 align-items-center">
                        <div class="col-lg-4 col-md-12 p-0">
                            <div class="form-group">
                                <label><i class="flaticon-search"></i></label>
                                <input type="text" class="form-control" placeholder="What are you looking for??">
                            </div>
                        </div>
        
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="form-group">
                                <label><i class="flaticon-pin"></i></label>
                                <input type="text" class="form-control" placeholder="Location">
                            </div>
                        </div>
        
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="form-group category-select">
                                <label><i class="flaticon-category"></i></label>
                                <ngx-select-dropdown (searchChange)="searchChange($event)" name="category-select" tabindex="0" [multiple]="false" [(ngModel)]="singleSelect" [config]="config" [options]="options"></ngx-select-dropdown>
                            </div>
                        </div>
        
                        <div class="col-lg-2 col-md-12 p-0">
                            <div class="submit-btn">
                                <button type="submit">Search Now</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <!-- End Page Title Area -->
        
        <!-- Start Listings Area -->
        <section class="listings-area ">
          <div class="container">
            <div class="row">
             
        
              <div class="col-lg-12 col-md-12 ">
                <div *ngIf="users" class="row">
                  <div class="col-lg-6 col-md-12"
                    *ngFor="let Content of users | paginate: { itemsPerPage: 15, currentPage: verticalListings }">
                    <div class="single-listings-item">
                      <div class="row m-0">
                        <div class="col-lg-4 col-md-4 p-0">
                          <div class="listings-image" style="background-image: url({{Content.Photo1}});">
                            <img [src]="Content.Photo1" alt="image">
                            <!-- <a routerLink="/{{Content.bookmarkLink}}" class="bookmark-save"><i class="flaticon-heart"></i></a> -->
                            <a routerLink="/profile-detail/{{Content._id}}" class="link-btn"></a>
                          </div>
                        </div>
        
                        <div class="col-lg-8 col-md-8 p-0">
                          <div class="listings-content">
                            <span class="status ">
                              Online Now</span>
                            <h3 class="mid">ID: <span class="mds">{{Content.Prefix}}{{Content.MatriID}}</span></h3>
        
                            <div class="d-flex align-items-center justify-content-between">
                            </div>
                            <div class="dt">
                              <ul>
                                  <li>30 Yrs, Others,Nurse</li>
                                  <li>Caste:     <span>Rajput</span></li>
                                  <li>From:      <span>Mandi</span></li>
                                  <li>Living in: <span>Indore</span> </li>
                              </ul>
        
                            </div>
                            <ul class="listings-meta">
                              <li><a routerLink="/profile-detail/{{Content._id}}"><i class=" bx bx-user"></i>
                                  <p class="i_t">Profile</p>
                                </a></li>
                              <li><i class="flaticon-heart"></i>
                                <p class="i_t">Sent Interest</p>
                              </li>
                              <!-- <li><i class='bx bx-spreadsheet'></i>
                                                        <p class="i_t">{{Content.City}}</p>
                                                    </li> -->
                              <li><i class=" bx bx-block"></i>
                                <p class="i_t">Block</p>
                              </li>
                              <li><i class=" bx bx-error-circle"></i>
                                <p class="i_t">Report</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-12 col-md-12">
                    <div class="pagination-area text-center">
                      <pagination-controls (pageChange)="verticalListings = $event"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Listings Area -->
        
    </div>
    <!-- End -->

    <div class="flex-grow-1"></div>
    
    <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->