@import "../user-dashboard.component.scss";

.progress {
    height: 8px
}
.p-3 {
    box-shadow: 2px 4px 14px rgb(0 0 0 / 28%);
    padding: 48px 30px !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
.progress-info {
    font-size: 11px
}

.access-data {
    font-size: 11px
}

.progress-bar {
    background: #3656DC
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #3656DC;
    border-color: #3656DC
}

.btn-primary:hover {
    background-color: #2a43ad;
    border-color: #2a43ad
}