<!-- Start Sidemenu Area -->
<div class="sidemenu-area">
  <div class="sidemenu-header">
    <a routerLink="/dashboard" style="color: rgb(0, 0, 0);
    font-size: 2rem; font-weight: 600;" class="navbar-brand d-flex align-items-center">
      <img style="width: 48px;" [src]="filepath ||stndpath" alt="logo" />
      {{logo?.title}}</a>
    <div class="responsive-burger-menu d-block d-lg-none">
      <span class="top-bar"></span>
      <span class="middle-bar"></span>
      <span class="bottom-bar"></span>
    </div>
  </div>

  <div class="sidemenu-body">
    <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
      <li class="nav-item-title">
        Main
      </li>

      <li class="nav-item" routerLinkActive="active mm-active">
        <a routerLink="/dashboard" class="nav-link">
          <span class="icon"><i class='bx bx-home-circle'></i></span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive=" mm-active">
        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
          <span class="icon"><i class='bx bx-user'></i></span>
          <span class="menu-title">Member</span>
        </a>

        <ul class="sidemenu-nav-second-level">
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/all-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">All Members</span>
              <span *ngIf="alluserscount !==0" class="badge">{{alluserscount}}</span>
            </a>
          </li>

          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/verify-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Verify Members</span>
              <span *ngIf="usertoverify !==0" class="badge">{{usertoverify}}</span>
            </a>
          </li>

          <!-- <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/free-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Free Members</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/premium-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Premium Member</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/featured-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Featured Member</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/inactive-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">InActive Members</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/reported-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Reported Members</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/deleted-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Archived Members</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/blocked-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Blocked Members</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/member/bulk-member" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Bulk Member Add</span>
            </a>
          </li> -->
        </ul>
      </li>
      <li *ngIf="mypermissons?.edit_profileattribute" class="nav-item" routerLinkActive="mm-active">
        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
          <span class="icon"><i class='bx bx-user-plus'></i></span>
          <span class="menu-title">Profile Attributes</span>
        </a>

        <ul class="sidemenu-nav-second-level">
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/religions" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Religions</span>
            </a>
          </li>

          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/caste" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Caste</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/member-language" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Member Language</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/country" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Country</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/state" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">State</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/City" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">City</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/on-behalf" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">On Behalf</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/family-value" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Family Value</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/family-status" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Family Status</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/marital-statuses" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Marital Statuses</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/education" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Education</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/occupation" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Occupation</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/star" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Star</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/moonsign" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Moonsign</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/hight" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Height</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/employedin" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Employedin</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/profile-attributes/hometown" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Hometown</span>
            </a>
          </li>


        </ul>
      </li>
      <li *ngIf="mypermissons?.edit_plans" class="nav-item" routerLinkActive="">
        <a routerLink="/premium-package" class="nav-link">
          <span class="icon"><i class='bx bx-home-circle '></i></span>
          <span class="menu-title">Premium Packages</span>
        </a>
      </li>
      <li *ngIf="mypermissons?.edit_plans" class="nav-item" routerLinkActive="">
        <a routerLink="/package-payment" class="nav-link">
          <span class="icon"><i class='bx bx-dollar-circle '></i></span>
          <span class="menu-title">Packages Payments</span>
        </a>
      </li>
      <li *ngIf="mypermissons?.edit_staff" class="nav-item" routerLinkActive="mm-active">
        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
          <span class="icon"><i class=' bx bx-user'></i></span>
          <span class="menu-title">Staffs</span>
          <span class="badge">Staff</span>
        </a>
        <ul class="sidemenu-nav-second-level">
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/staffs/all-staff" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">All Staffs</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/staffs/staff-role" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Staffs Role</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" routerLinkActive="mm-active">
        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
          <span class="icon"><i class=' bx bx-infinite'></i></span>
          <span class="menu-title">FollowUps</span>
          <!-- <span class="badge">Staff</span> -->
        </a>
        <ul class="sidemenu-nav-second-level">
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/my-followup" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Follow Up</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/followup" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Followup Overall</span>
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="mypermissons?.edit_happystory" class="nav-item" routerLinkActive="mm-active">
        <a routerLink="/happy-stories" class="nav-link">
          <span class="icon"><i class='bx bxs-smile  '></i></span>
          <span class="menu-title">Happy Stories</span>
        </a>
      </li>
      <li *ngIf="mypermissons?.edit_otpsystem" class="nav-item" routerLinkActive="mm-active">
        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
          <span class="icon"><i class=' bx bxs-key'></i></span>
          <span class="menu-title">OTP System</span>
        </a>
        <ul class="sidemenu-nav-second-level">
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/set-otp" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Set OTP Credentials</span>
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="mypermissons?.edit_websitesetup" class="nav-item" routerLinkActive=" mm-active">
        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
          <span class="icon"><i class='bx bxl-wikipedia'></i></span>
          <span class="menu-title">Website setup</span>
        </a>
        <ul class="sidemenu-nav-second-level">
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/system/update" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Logo</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/website-setup/pages" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Pages</span>
            </a>
          </li>
        </ul>
      </li>

      <li *ngIf="mypermissons?.edit_othersetting" class="nav-item" routerLinkActive=" mm-active">
        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
          <span class="icon"><i class=' bx bxs-palette '></i></span>
          <span class="menu-title">Settings</span>
        </a>
        <ul class="sidemenu-nav-second-level">
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/settings/smtp-setting" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">SMTP Settings</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="">
            <a routerLink="/settings/email-template" class="nav-link">
              <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
              <span class="menu-title">Email Template</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- End Sidemenu Area -->
