<!-- Start Sidemenu Area -->
<div class="sidemenu-area">
    <div class="sidemenu-header">
        <a routerLink="/dashboard" class="navbar-brand d-flex align-items-center">
            <img src="assets/img/black-logo.png" alt="image">
        </a>
        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>

    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
            <li class="nav-item-title">
                Main
            </li>
            
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard" class="nav-link">
                    <span class="icon"><i class='bx bx-home-circle'></i></span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-user-plus'></i></span>
                    <span class="menu-title">Member</span>
                </a>
            
                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/member/free-member" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Free Members</span>
                            <!-- <span class="badge">5</span>  -->
                        </a>
                    </li>
            
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/member/premium-member" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Premium Member</span>
                            <!-- <span class="badge yellow">1</span> -->
                        </a>
                    </li>
            
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/member/bulk-member" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Bulk Member Add</span>
                            <!-- <span class="badge red">2</span> -->
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/member/deleted-member" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Deleted Members</span>
                            <!-- <span class="badge red">2</span> -->
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/member/reported-member" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Reported Members</span>
                            <!-- <span class="badge red">2</span> -->
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Profile Attributes</span>
                        </a>
                        <ul class="sidemenu-nav-third-level">
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/profile-attributes/religions" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Religions</span>
                                </a>
                            </li>
                    
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Caste</span>
                                </a>
                            </li>
                    
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Sub Caste</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Member Language</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Country</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">State</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">City</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">On Behalf</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Family Value</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Family Status</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Marital Statuses</span>
                                </a>
                            </li>
                        </ul>
                        
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/member/profile-section" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Profile Section</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/premium-package" class="nav-link">
                    <span class="icon"><i class='bx bx-home-circle '></i></span>
                    <span class="menu-title">Premium Packages</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/package-payment" class="nav-link">
                    <span class="icon"><i class='bx bx-dollar-circle '></i></span>
                    <span class="menu-title">Packages Payments</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/happy-stories" class="nav-link">
                    <span class="icon"><i class='bx bxs-smile  '></i></span>
                    <span class="menu-title">Happy Stories</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-merge'></i></span>
                    <span class="menu-title">Marketing</span>
                </a>
            
                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/newsletter" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Newsletter</span>
                            <!-- <span class="badge">5</span>  -->
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bxs-keyboard'></i></span>
                    <span class="menu-title">Support Ticket</span>
                    <span class="badge">Addon</span>
                </a>
                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Active Tickets</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">My Tickets</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Solved Tickets</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Support Settings</span>
                        </a>
                        <ul class="sidemenu-nav-second-level">
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Category</span>
                                </a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a routerLink="/dashboard-my-listings" class="nav-link">
                                    <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                                    <span class="menu-title">Default Assigned Agent</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class=' bx bxs-key'></i></span>
                    <span class="menu-title">OTP System</span>
                    <span class="badge">Addon</span>
                </a>
                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Sms Templates</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Set OTP Credentials</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Send Sms</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-messages" class="nav-link">
                    <span class="icon"><i class=' bx bxs-image-add'></i></span>
                    <span class="menu-title">Uploaded Files</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bxl-wikipedia'></i></span>
                    <span class="menu-title">Website setup</span>
                </a>
                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Header</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Footer</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Pages</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Appearence</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class=' bx bxs-palette '></i></span>
                    <span class="menu-title">Settings</span>
                </a>
                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">General Setting</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Language</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Currency</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Payment Methods</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">SMTP Settings</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Email Template</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Third Party Settings</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Third Party Settings</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Social Media Login</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class=' bx bx-user'></i></span>
                    <span class="menu-title">Staffs</span>
                </a>
                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">All Staffs</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Staffs Role</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class=' bx bx-bar-chart-square'></i></span>
                    <span class="menu-title">System</span>
                </a>
                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Update</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="icon"><i class='bx bx-circle icon-rs'></i></span>
                            <span class="menu-title">Server Status</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-messages" class="nav-link">
                    <span class="icon"><i class='bx bx-aperture'></i></span>
                    <span class="menu-title">Addon Manager</span>
                    <span class="badge">3</span>
                </a>
            </li>

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-messages" class="nav-link">
                    <span class="icon"><i class='bx bx-envelope-open'></i></span>
                    <span class="menu-title">Messages</span>
                    <span class="badge">3</span>
                </a>
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-bookings" class="nav-link">
                    <span class="icon"><i class='bx bx-copy'></i></span>
                    <span class="menu-title">Bookings</span>
                </a>
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-wallet" class="nav-link">
                    <span class="icon"><i class='bx bx-wallet'></i></span>
                    <span class="menu-title">Wallet</span>
                </a>
            </li> -->

            <!-- <li class="nav-item-title">
                Listings
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a href="javascript:void(0)" class="collapsed-nav-link nav-link" aria-expanded="false">
                    <span class="icon"><i class='bx bx-layer'></i></span>
                    <span class="menu-title">My Listings</span>
                </a>

                <ul class="sidemenu-nav-second-level">
                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="menu-title">Active</span>
                            <span class="badge">5</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="menu-title">Pending</span>
                            <span class="badge yellow">1</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active">
                        <a routerLink="/dashboard-my-listings" class="nav-link">
                            <span class="menu-title">Expired</span>
                            <span class="badge red">2</span>
                        </a>
                    </li>
                </ul>
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-reviews" class="nav-link">
                    <span class="icon"><i class='bx bx-star'></i></span>
                    <span class="menu-title">Reviews</span>
                </a>
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-bookmarks" class="nav-link">
                    <span class="icon"><i class='bx bx-heart'></i></span>
                    <span class="menu-title">Bookmarks</span>
                </a>
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-add-listings" class="nav-link">
                    <span class="icon"><i class='bx bx-plus-circle'></i></span>
                    <span class="menu-title">Add Listings</span>
                </a>
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-invoice" class="nav-link">
                    <span class="icon"><i class='bx bx-certification'></i></span>
                    <span class="menu-title">Invoice</span>
                </a>
            </li> -->

            <!-- <li class="nav-item-title">
                Account
            </li> -->

            <!-- <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-my-profile" class="nav-link">
                    <span class="icon"><i class='bx bxs-user-circle'></i></span>
                    <span class="menu-title">Profile</span>
                </a>
            </li> -->

            <!-- <li class="nav-item">
                <a routerLink="/" class="nav-link">
                    <span class="icon"><i class='bx bx-log-out'></i></span>
                    <span class="menu-title">Logout</span>
                </a>
            </li> -->
        </ul>
    </div>
</div>
<!-- End Sidemenu Area -->