<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-dashboard-navbar></app-dashboard-navbar>

  <!-- Breadcrumb Area -->
  <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
    <h1>{{Content.title}}</h1>
    <ol class="breadcrumb">
      <li class="item"><a routerLink="/">Home</a></li>
      <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
      <li class="item">{{Content.title}}</li>
    </ol>
  </div>
  <!-- End Breadcrumb Area -->


  <!-- Start -->
  <div _ngcontent-rqo-c140="" class="bx-right"><a _ngcontent-rqo-c140="" (click)="addandedit()"
      class="btn btn-success rs-btn">Add New Package</a></div>

  <div *ngIf="addplantab" class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <h3>Add New Package</h3>
        <form [formGroup]="addplan" (ngSubmit)="submitplan()" class="bd-n">
          <div class="row">
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Title </label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Gold" formControlName="plantitle">
                </div>
              </div>
            </div>


            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Plan Key</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="BPlan,SPlan,SPPlan,GPlan,GPPlan"
                    formControlName="plankey">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Profile Visible</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="checkbox" class="form-control" formControlName="profile_displayed_other">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Profile Updation </label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="checkbox" class="form-control" formControlName="profile_updation">
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Send Interest</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="-1" formControlName="send_interest">
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Receive Interest</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="-1" formControlName="receive_interest">
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Initiate Chat</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="30" formControlName="num_chat_init">
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>View contacts</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="30"
                    formControlName="num_view_contacts_details">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Praposal Shortlist</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="checkbox" class="form-control" formControlName="profile_shortlisting">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Boost Profile</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="checkbox" class="form-control" formControlName="profile_booster">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Compensate Married/Switched Off Numbers</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="checkbox" class="form-control" formControlName="comp_married_switched_num">
                </div>
              </div>
            </div>


            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Relationship Manager</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="checkbox" class="form-control" formControlName="relationship_manager">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Talk on Behalf</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="checkbox" class="form-control" value="false" formControlName="talk_on_behalf">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Plan Validity(days)</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="30" formControlName="plan_validity">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>Website Rate(Rupees)</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="1000" formControlName="website_rate">
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>App Rate(Rupees)</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="1200" formControlName="app_rate">
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>IOS Rate(Rupees)</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="1500" formControlName="ios_rate">
                </div>
              </div>
            </div>

            <div class="form-group fg-w">
              <div class="col-lg-4">
                <label>#Order</label>
              </div>
              <div class="col-lg-8">
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="1" formControlName="sortorder">
                </div>
              </div>
            </div>
            <div class="form-group fg-w">
              <button type="submit" class="btn btn-primary ml-3 mt-2">Add New Package</button>
              <button type="button" (click)="hideaddplantab()" class="btn btn-primary ml-3 mt-2">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h3>All Packages</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Profile Display to Others</th>
                <th>Profile Updation</th>
                <th>Send Interest</th>
                <th>Receive Interest</th>
                <th>Initiate Chat</th>
                <th>View Contact Details</th>
                <th>Praposal Shortlist</th>
                <th>Boost Profile</th>
                <th>Compensate Married/Switched-Off Numbers</th>
                <th>Relationship Manager</th>
                <th>Talk on Behalf</th>
                <th>Plan Validity(days)</th>
                <th>Website Rate(Rupees)</th>
                <th>App Rate(Rupees)</th>
                <th>IOS Rate(Rupees)</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plan of plans">
                <td class="#">
                  {{plan?.plantitle}}({{plan?.plankey}})
                </td>
                <td class="#">
                  {{plan?.profile_displayed_other}}
                </td>
                <td class="#">
                  {{plan?.profile_updation}}
                </td>
                <td class="name">
                  {{plan?.send_interest}}(Unlimited)
                </td>
                <td class="email">
                  {{plan?.receive_interest}}(Unlimited)
                </td>
                <td class="phone">
                  {{plan?.num_chat_init}}
                </td>
                <td class="role">
                  {{plan?.num_view_contacts_details}}
                </td>
                <td class="role">
                  {{plan?.profile_shortlisting}}
                </td>
                <td class="role">
                  {{plan?.profile_booster}}
                </td>
                <td class="role">
                  {{plan?.comp_married_switched_num}}
                </td>
                <td class="role">
                  {{plan?.relationship_manager}}
                </td>
                <td class="role">
                  {{plan?.talk_on_behalf}}
                </td>
                <td class="role">
                  {{plan?.plan_validity}}
                </td>
                <td class="role">
                  {{plan?.website_rate}}
                </td>
                <td class="role">
                  {{plan?.app_rate}}
                </td>
                <td class="role">
                  {{plan?.ios_rate}}
                </td>
                <td class="option">
                  <a class="st-i"><i class=' bx bx-pencil' (click)="getoneplan(plan._id)"></i> </a>
                  <a class="st-i2"><i class=' bx bx-minus' (click)="deleteplan(plan._id)"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
  <!-- End -->

  <div class="flex-grow-1"></div>

  <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->
