<app-user-dashboard-sidemenu></app-user-dashboard-sidemenu>
<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-user-dashboard-navbar></app-user-dashboard-navbar>


  <!-- Start -->
  <div class="row">
    <!-- Start Listings Area -->
    <section class="listings-area  st-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 ">
            <div *ngIf="users" class="row">
              <div class="col-lg-6 col-md-12"
                *ngFor="let Content of users | paginate: { itemsPerPage: 50, currentPage: verticalListings }">
                <div class="single-listings-item">
                  <div class="row m-0">
                    <div class="col-lg-4 col-md-4 p-0">
                      <div class="listings-image" style="background-image: url({{Content?.logged_user_id?.Photo1}});">
                        <img [src]="Content?.logged_user_id?.Photo1" alt="image">
                        <!-- <a routerLink="/{{Content.bookmarkLink}}" class="bookmark-save"><i class="flaticon-heart"></i></a> -->
                        <a routerLink="/profile-detail/{{Content?.logged_user_id?._id}}" class="link-btn"></a>
                      </div>
                    </div>

                    <div class="col-lg-8 col-md-8 p-0">
                      <div class="listings-content">
                        <span *ngIf="Content?.acceptance_status == true" class="status ">
                          {{Content?.acceptance_status? "Accepted": "Pending"}} </span>
                        <span *ngIf="Content?.acceptance_status == false" class="status status-close">
                          {{Content?.acceptance_status? "Accepted": "Pending"}} </span>
                          <span class="st-drop dropdown">
                              <i class="bx bx-dots-vertical dropdown-toggle st-dot" data-toggle="dropdown"></i>
                              <ul class="dropdown-menu st-drp-left">
                                <li class="st-drli"><a href="#" class="st-acc"><i class="bx bx-user-plus"></i> Accept</a></li>
                                <li class="st-drli"><a href="#" class="st-rec"><i class="bx bx-trash"></i> Reject</a></li>
                              </ul>
                          </span>

                        <h3 class="mid">ID: <span
                            class="mds">{{Content?.logged_user_id?.Prefix}}{{Content?.logged_user_id?.MatriID}}</span>
                        </h3>
                        <div class="d-flex align-items-center justify-content-between">
                        </div>
                        <div class="dt">
                          <ul>
                            <li><span> {{Content?.logged_user_id?.Maritalstatus?.name}}</span></li>
                            <li>{{Content?.logged_user_id?.Age}} Yrs,
                              {{Content?.logged_user_id?.Height?.feetinchvalue}}
                              ({{Content?.logged_user_id?.Height?.cmvalue}} cm) <span></span></li>
                            <li>{{Content?.logged_user_id?.Religion?.name || "Religion N/A"}},
                              <span>{{Content?.logged_user_id?.Caste?.name || "Caste N/A"}}</span>
                            </li>
                            <li><b> From: </b><span> {{Content?.logged_user_id?.City?.name}},
                                {{Content?.logged_user_id?.State?.name}},
                                {{Content?.logged_user_id?.Country?.name}}</span></li>
                            <li><b>Living in:</b> <span>{{Content?.logged_user_id?.LCity?.name}},
                                {{Content?.logged_user_id?.LState?.name}},
                                {{Content?.logged_user_id?.LCountry?.name}}</span> </li>
                          </ul>

                        </div>
                        <ul class="listings-meta">
                          <li><a routerLink="/profile-detail/{{Content?.logged_user_id?._id}}"><i class=" bx bx-user"
                                style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                              <p class="i_t">Profile</p>
                            </a></li>
                          <li><a routerLink="/user-dashboard/user-chat"><i class=" bx bx-chat"
                                style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                              <p class="i_t">Chat</p>
                            </a></li>
                          <li><a routerLink="/profile-detail/{{Content?.displayed_user_id?._id}}"><i
                                class=" bx bx-phone-call" style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                              <p class="i_t">Call</p>
                            </a></li>
                          <li><a routerLink="/profile-detail/{{Content?.displayed_user_id?._id}}"><i
                                class=" bx bx-list-plus" style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                              <p class="i_t">Shortlist</p>
                            </a></li>
                          <!-- <li><i class="flaticon-heart"></i>
                        <p class="i_t">Sent Interest</p>
                      </li> -->
                          <!-- <li><i class='bx bx-spreadsheet'></i>
                                                    <p class="i_t">{{Content.City}}</p>
                                                </li> -->
                          <li><i class=" bx bx-block" style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                            <p class="i_t">Block</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                  <pagination-controls (pageChange)="verticalListings = $event"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Listings Area -->

  </div>
  <!-- End -->

  <div class="flex-grow-1"></div>

  <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->
