<div class="box-1 text-center">
  <img src="assets/img/popup-img.png" alt="image" width="350px" />
  <div mat-dialog-content class="mat-typography text-center">
    <p style="font-size: 18px; color: #b00; font-weight: 500; padding: 20px; padding: 20px;">If view the Contact Detail,
      We deducted <br>5 points to, in your current plan. </p>

  </div>
  <div mat-dialog-actions>
    <button
      style="border: none; background-color: #fff; color: #b00; border: 1px solid#b00; padding: 6px 12px; margin-right: 10px; width: 100px;">
      I Agree</button>
    <button
      style="border: none; background-color: #fff; color: #b00; border: 1px solid#b00; padding: 6px 12px; width: 100px;">
      I Disagree</button>
  </div>
</div>
