// new css 8/6/21
h3.hd-txtt {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    background: #221638;
    color: #fff;
    padding: 10px;
}
.ad-box {
    margin: 17px 0px;
    border: 1px solid#cccccc91;
    padding: 8px;
}
span.sptxt {
    float: right;
    color: #f00;
    font-weight: 600;
}
.left-box ul{
    padding: 0;
    margin: 0px;
    list-style: none;
}
.left-box ul li{
    font-size: 14px;
    color: #807171;
    font-weight: 500;
    padding: 11px 10px;
    border-bottom: 1px solid#cccccc7a;
}
.left-box {
    border: 1px solid#cccccc94;
}
// new css 8/6/21 close

// new css 10/8/2021
.edit {
    float: right;
    margin-top: -43px;
    margin-right: 15px;
}
.edit a i{
    font-size: 25px;
    color: #fff;
}
.card.card-body.bd-none {
    border: none;
}
// close

div {
    position: relative;
    overflow: hidden;
  }
  .input-one {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }

  .file.a-btn {
    background: #1c8602;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    margin-top: 15px;
}

p.bt-tetx {
    font-size: 12px;
    margin-top: 10px;
}

// css old

@import "../../pages/dashboard/dashboard.component.scss";


.img.my-img {
    width: 430;
    height: 430px;
}

// profile-content
.profile-content{
    width: 100%;
    display: inline-block;
}

.my-profile-box {
    margin-bottom: 30px;
    margin-top: 35px;
    background-color: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    border-radius: 5px;

    h3 {
        margin-bottom: 0;
        padding: 13px 22px;
        border-bottom: 1px dashed #eeeeee;
        font: {
            size: 17px;
            weight: 600;
        };
    }
    form {
        padding: 25px;

        .row {
            margin: {
                left: -5px;
                right: -5px;
            };
            .col-lg-6, .col-lg-12 {
                padding: {
                    left: 5px;
                    right: 5px;
                };
            }
        }
        .form-group {
            margin-bottom: 20px;
            position: relative;

            label {
                display: block;
                margin-bottom: 8px;
                color: var(--blackColor);
                font: {
                    size: 14px;
                    weight: 500;
                };
            }
            .form-control {
                color: #808080;

                &::placeholder {
                    transition: var(--transition);
                    color: #808080;
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
        button {
            display: block;
            width: 100%;
            background-color: var(--mainColor);
            color: var(--whiteColor);
            padding: 13px 30px 12.5px;
            box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
            border-radius: 5px;
            transition: var(--transition);
            border: none;
            font: {
                size: var(--fontSize);
                weight: 600;
            };
            &:hover {
                background-color: #3b99ca;
                color: var(--whiteColor);
            }
        }
    }
    .profile-box {
        max-width: 430px;
        position: relative;
        border-radius: 5px;

        img {
            border-radius: 5px;
        }
        .file-upload {
            display: inline-block;
            position: absolute;
            left: 15px;
            bottom: 15px;

            .inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            .inputfile + label {
                color: var(--blackColor);
                background-color: var(--whiteColor);
                display: inline-block;
                margin-bottom: 0;
                transition: var(--transition);
                padding: 10px 25px 9px 48px;
                position: relative;
                border-radius: 30px;
                font: {
                    size: var(--fontSize);
                    weight: 600;
                };
            }
            i {
                position: absolute;
                left: 25px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 16.5px;
                margin-top: -.5px;
            }
            .inputfile:focus + label, .inputfile + label:hover {
                background-color: var(--mainColor);
                color: var(--whiteColor);
            }
            .inputfile + label {
                cursor: pointer;
            }
        }
    }
}


// new css
.sec-1{
    width: 100%;
    display: inline-block;
    background: linear-gradient(225deg, rgba(253,44,121,1) 0%, #ff0000 100%);
    padding: 40px 0px;

}
.mt-top {
    margin-top: -180px;
}
h3.pft1 {
    color: #fff;
    font-size: 21px;
}
p.pft2 {
    color: #fff;
    border-bottom: 1px solid#ccccccc7;
    padding-bottom: 10px;
}
.hr-wh{
   color: #fff; 
}
.pft4{
    width: 50%;
    float:left;
}
.pft4 p{
    color: #fff;
    margin-bottom: 1px;
    font-size: 14px;
}
.col-lg-5.pft5 {
    text-align: center;
    border-left: 1px solid#d7a5b1;
}
.pft-i {
    width: 50px;
    display: inline-block;
    text-align: center;
    height: 50px;
    border: 2px solid#fff;
    border-radius: 100px;
    padding: 4px;
}
.pft-i i{
    font-size: 30px;
    color: #fff;
}
p.mid {
    font-size: 16px;
    margin-top: -6px;
}
span.mds {
    color: #f00;
}
h3.pf-n {
    padding: 0px !important;
    font-size: 22px !important;
}
.pt-100 {
    padding-top: 47px;
}
.pft-bx {
    margin-top: 30px;
    margin-bottom: 8px;
    background: linear-gradient( 225deg
 , #fd2c79 0%, #ff0000 100%);
    border-radius: 6px;
    
}
.pft-bx1 {
    width: 47%;
    display: inline-block;
    margin: 5px;
    background: linear-gradient( 225deg
 , #fd2c79 0%, #ff0000 100%);
    border-radius: 6px;
}
.pftcolr {
    color: #fff;
    font-size: 20px;
    padding: 7px 15px;
}

// ss 7-29-21
.heading-title {
    width: 100%;
    display: inline-block;
    color: #fff;
    background: linear-gradient(225deg, #5f24ca 0%, #221638 100%);
    border-radius: 6px;
}

.content-box {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #cccccc70;
}
button.btn.btn-primary.btn-right {
    float: right;
    margin-top: -48px;
    margin-right: 15px;
}
.info-text{
    width: 100%;
    display: inline-block;
}
.tb-text{
    width: 100%;
    padding: 16px 12px !important;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}
.wd{
    width: 50%;
    float: left;
}
.wd1{
    width: 50%;
    float: left;
}
label{
    font-size: 12px !important;
    color: #9e9b9b !important;
}
button.btn.btn-primary.btn-up {
    width: 120px !important;
    background: #007bff !important;
    padding: 9px 12px !important;
}


  /* Max width 767px */
@media only screen and (max-width: 767px) {
    
    .my-profile-box {
        h3 {
            padding: 15px 20px;
        }
        .profile-box {
            max-width: 100%;
        }
        form {
            padding: 5px;
        }
        
    }

    .mt-top {
        margin-top: 15px !important;
    }
    .col-lg-5.pft5 {
        margin-top: 20px;
    }
    h3 {
        padding: 15px 20px;
        font-size: 14px !important;
    }
    button.btn.btn-primary.btn-right {
        float: right;
        margin-top: -39px;
        margin-right: 15px;
        font-size: 12px;
    }
    .wd {
        width: 100%;
        float: left;
    }
    

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {



}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}


    



