<section>
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 text-center">
            <img [src]="mydetail?.Photo1 || dumPhoto" />
            <div class="file a-btn">
              Upload profile Photo 1
              <input type="file" name="file" class="input-one" />
            </div>
            <p class="bt-tetx">( Front facing photo with clear face is recomended )</p>
          </div>
          <div class="col-lg-4 text-center">
            <img [src]="dumPhoto" />
            <div class="file a-btn">
              Upload profile Photo 2
              <input type="file" name="file" class="input-one" />
            </div>
            <p class="bt-tetx">( Full photograph from front recomended )</p>
          </div>
          <div class="col-lg-4 text-center">
            <img [src]="dumPhoto" />
            <div class="file a-btn">
              Upload profile Photo 3
              <input type="file" name="file" class="input-one" />
            </div>
            <p class="bt-tetx">( Full lenth photograph recomended )</p>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-12">
              <div class="profile-content">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="my-profile-box">
                      <div class="content-box">
                        <div class="heading-title">
                          <h3>Basic Information</h3>
                        </div>
                        <div class="edit">
                          <a href="javascript:void();"><i class="bx bx-edit" (click)="formone()"></i></a>
                        </div>
                        <div *ngIf="togglecheck" class="info-text">
                          <table class="tb-text">
                            <tbody class="tb-text">
                              <tr class="wd">
                                <td class="wd1">Name:</td>
                                <td class="wd1">{{mydetail?.Name}} {{mydetail?.firstName}} {{mydetail?.LastName}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Gender:</td>
                                <td class="wd1">{{mydetail?.Gender || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Age:</td>
                                <td class="wd1">{{mydetail?.Age || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Date of Birth:</td>
                                <td class="wd1">{{mydetail?.DOB || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Place Of Birth:</td>
                                <td class="wd1">{{mydetail?.POB || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Marital Status:</td>
                                <td class="wd1">{{mydetail?.Maritalstatus?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Children Status:</td>
                                <td class="wd1">{{mydetail?.childrenlivingstatus || "No Children"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Time of Birth:</td>
                                <td class="wd1">{{mydetail?.TOB || "not mentioned"}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- form -->
                        <div  *ngIf="!togglecheck" class="info-text">
                          <div class="card card-body bd-none">
                            <form>
                               <div class="row">
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label>Name</label>
                                     <input type="text" class="form-control" placeholder="Name">
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label>Gender</label>
                                     <select class="form-control">
                                        <option>Male</option>
                                        <option>Female</option>
                                     </select>
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label>Age</label>
                                     <input type="text" class="form-control" placeholder="Age">
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label>Date Of Birth</label>
                                     <input type="date" class="form-control" placeholder="DOB">
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label>Place of Birth</label>
                                     <input type="text" class="form-control" placeholder="Place Of Birth">
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label>Marital Status</label>
                                     <select name="" id="" class="form-control">
                                         <option>Married</option>
                                         <option>Unmarried</option>
                                     </select>
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label>Children Status</label>
                                     <select name="" id="" class="form-control" aria-placeholder="Children Status:">
                                         <option>yes</option>
                                         <option>no</option>
                                     </select>
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                     <label>Time of Birth</label>
                                     <input type="time" class="form-control" placeholder="Time Of Birth">
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <button class="btn btn-primary btn-up">Update</button>
                                 </div>
                               </div>
                            </form>
                         </div>
                        </div>
                        <!-- close -->
                      </div>
                      <!-- discription -->
                      <div class="content-box">
                        <div class="heading-title">
                          <h3>About</h3>
                        </div>
                        <div class="edit">
                          <a href="javascript:void();"><i class="bx bx-edit" (click)="formtwo()"></i></a>
                        </div>
                        <div  *ngIf="togglechecktwo" class="info-text">
                          {{mydetail?.Profile || "Lorem ipsum dolor sit amet consectetur adipisicing elit"}}
                        </div>
                        <div  *ngIf="!togglechecktwo" class="info-text">
                          <form>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Descriptions</label>
                                  <textarea id="w3review" name="w3review" rows="5" cols="100">
                                    
                                    </textarea>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Gender</label>
                                  <select class="form-control">
                                     <option>Male</option>
                                     <option>Female</option>
                                  </select>
                                </div>
                              </div>
            
                              <div class="col-md-12">
                                <button class="btn btn-primary btn-up">Update</button>
                              </div>
                            </div>
                         </form>
                        </div>
                      </div>
                      <!-- discription -->
                      <!-- education -->
                      <div class="content-box">
                        <div class="heading-title">
                          <h3>Education and Occupation</h3>
                        </div>
                        <div class="edit">
                          <a href="javascript:void();"><i class="bx bx-edit" (click)="formoccupation()"></i></a>
                        </div>
                        <div *ngIf="togglecheckoccupation" class="info-text">
                          <table class="tb-text">
                            <tbody class="tb-text">
                              <tr class="wd">
                                <td class="wd1">Education:</td>
                                <td class="wd1">{{mydetail?.Education?.degree || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Education Details:</td>
                                <td class="wd1">{{mydetail?.Education?.name}} ,{{mydetail?.Education?.place}} </td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Occupation:</td>
                                <td class="wd1">{{mydetail?.Occupation?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Occupation Detail:</td>
                                <td class="wd1">{{mydetail?.Occupation?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Employee In:</td>
                                <td class="wd1">{{mydetail?.Employedin?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Annual Income:</td>
                                <td class="wd1">{{mydetail?.Annualincome || "0"}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div *ngIf="!togglecheckoccupation" class="info-text">
                          <form>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Education</label>
                                  <select class="form-control">
                                      <option>High School</option>
                                      <option>Higher secondery</option>
                                      <option>Bachelor</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Education Details</label>
                                  <select class="form-control">
                                     <option>lorem</option>
                                     <option>lorem</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Occupation</label>
                                  <input type="text" class="form-control" placeholder="Occupation">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Occupation Detail</label>
                                  <input type="date" class="form-control" placeholder="Occupation Detail">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Employee In</label>
                                  <select class="form-control">
                                    <option>Gov.</option>
                                    <option>Private</option>
                                    <option>Not</option>
                                 </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Annual Income</label>
                                  <select name="" id="" class="form-control">
                                      <option>1,00,000</option>
                                      <option>2,00,000</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <button class="btn btn-primary btn-up">Update</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <!-- socio religion background -->
                      <div class="content-box">
                        <div class="heading-title">
                          <h3>Socio Religious Background</h3>
                        </div>
                        <div class="info-text">
                          <table class="tb-text">
                            <tbody class="tb-text">
                              <tr class="wd">
                                <td class="wd1">Religion:</td>
                                <td class="wd1">{{mydetail?.Religion?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Caste/division</td>
                                <td class="wd1">{{mydetail?.Caste?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Manglik/Dosham:</td>
                                <td class="wd1">{{mydetail?.Manglik || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Gothram:</td>
                                <td class="wd1">{{mydetail?.Gothram || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Language:</td>
                                <td class="wd1">{{mydetail?.Language?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Star:</td>
                                <td class="wd1">{{mydetail?.Star?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Moonsign:</td>
                                <td class="wd1">{{mydetail?.Moonsign?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Horoscope Match:</td>
                                <td class="wd1">{{mydetail?.Horosmatch || "not mentioned"}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- Physical Status and Lifestyle -->
                      <div class="content-box">
                        <div class="heading-title">
                          <h3>Physical Status and Lifestyle</h3>
                        </div>
                        <div class="info-text">
                          <table class="tb-text">
                            <tbody class="tb-text">
                              <tr class="wd">
                                <td class="wd1">Height:</td>
                                <td class="wd1">{{mydetail?.Height?.feetinchvalue}},
                                  ( {{mydetail?.Height?.cmvalue+"Cms"}} )</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Weight</td>
                                <td class="wd1">{{mydetail?.Weight || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Blood Group:</td>
                                <td class="wd1">{{mydetail?.BloodGroup || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Complexion:</td>
                                <td class="wd1">{{mydetail?.Complexion || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Diet:</td>
                                <td class="wd1">{{mydetail?.Diet || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Smoke:</td>
                                <td class="wd1">{{mydetail?.Smoke || "No"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Drink:</td>
                                <td class="wd1">{{mydetail?.Drink || "No"}}</td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- profile description -->
                      <div class="content-box">
                        <div class="heading-title">
                          <h3>Profile Description</h3>
                        </div>
                        <div class="info-text">
                          <h3>dummy Account</h3>
                          <!-- <table class="tb-text">
                                                       <tbody class="tb-text">
                                                           <tr class="wd">
                                                              <td class="wd1">Height:</td>
                                                              <td class="wd1">Sft 4in ( 162cm )</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Weight</td>
                                                              <td class="wd1">Chaudhary-girth</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Blood Group:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Complexion:</td>
                                                              <td class="wd1">No</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Diet:</td>
                                                              <td class="wd1">no</td>
                                                           </tr>
                                                           <tr class="wd">
                                                              <td class="wd1">Smoke:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Drink:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                            <tr class="wd">
                                                              <td class="wd1">Horoscope Match:</td>
                                                              <td class="wd1">no</td>
                                                            </tr>
                                                       </tbody>
                                                  </table> -->
                        </div>
                      </div>
                      <!-- family detail -->
                      <div class="content-box">
                        <div class="heading-title">
                          <h3>Family Details</h3>
                        </div>
                        <div class="info-text">
                          <table class="tb-text">
                            <tbody class="tb-text">
                              <tr class="wd">
                                <td class="wd1">Family Values:</td>
                                <td class="wd1">{{mydetail?.Familyvalues?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Family Type:</td>
                                <td class="wd1">{{mydetail?.FamilyType || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Family Status:</td>
                                <td class="wd1">{{mydetail?.FamilyStatus?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Father Occupation:</td>
                                <td class="wd1">{{mydetail?.Fathersoccupation?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Mother Occupation:</td>
                                <td class="wd1">{{mydetail?.Mothersoccupation?.name || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Family Origin:</td>
                                <td class="wd1">{{mydetail?.FamilyOrigin || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">No. of Brothers:</td>
                                <td class="wd1">{{mydetail?.noofbrothers || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">No. of Sister:</td>
                                <td class="wd1">{{mydetail?.noofsisters || "not mentioned"}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- Partner Expectation -->
                      <div class="content-box">
                        <div class="heading-title">
                          <h3>Partner Expectation</h3>
                        </div>
                        <div class="info-text">
                          <table class="tb-text">
                            <tbody class="tb-text">
                              <tr class="wd">
                                <td class="wd1">Age Range:</td>
                                <td class="wd1">{{mydetail?.PE_FromAge}}-{{mydetail?.PE_ToAge}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Have Children:</td>
                                <td class="wd1">{{mydetail?.PE_HaveChildren || "doesn't matter"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Height Range:</td>
                                <td class="wd1">{{mydetail?.PE_Height?.cmvalue}}-{{mydetail?.PE_Heightto?.cmvalue}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Complexion:</td>
                                <td class="wd1">{{mydetail?.PE_Complexion || "doesn't matter"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Expected Partner Description:</td>
                                <td class="wd1">{{mydetail?.PartnerExpectations || "not mentioned"}}</td>
                              </tr>
                              <tr class="wd">
                                <td class="wd1">Have Children:</td>
                                <td class="wd1">{{mydetail?.PE_HaveChildren || "doesn't matter"}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
