<app-user-dashboard-sidemenu></app-user-dashboard-sidemenu>
<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-user-dashboard-navbar></app-user-dashboard-navbar>

   
    <!-- Start -->
    <div class="row">
        <div class="col-lg-12">
            <app-user-profile-two></app-user-profile-two>
        </div>
    </div>
    <!-- End -->

    <div class="flex-grow-1"></div>
    
    <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->