// table css
.ab-content {
    width: 100%;
    display: inline-block;
    padding: 20px;
}
.wd{
    width: 50%;
    float: left;
  }
  .wd1{
    width: 50%;
    float: left;
  }
  .tb-text{
    width: 100%;
    // padding: 16px 12px !important;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
}
img.st-img-g {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
  // 

.st-block{
    display: block !important;
}

.pricing-tabs {
    .nav-tabs {
        border: none;
        text-align: left;
        display: block;
        flex-wrap: unset;
        margin-bottom: 40px;

        .nav-item {
            display: inline-block;
            margin: {
                bottom: 0;
                left: -1px;
                right: -1px;
            };
            .nav-link {
                display: block;
                background-color: var(--whiteColor);
                margin: 0;
                border: none;
                color: var(--blackColor);
                border-radius: 30px;
                padding: 14px 35px;
                position: relative;
                z-index: 1;
                transition: var(--transition);
                font: {
                    size: var(--fontSize);
                    weight: 600;
                };
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    border-radius: 30px;
                    background-color: #f9f9f9;
                    z-index: -1;
                    margin: 5px;
                    transition: var(--transition);
                }
                &:hover, &.active {
                    color: var(--whiteColor);

                    &::before {
                        opacity: 1;
                        visibility: visible;
                        background-color: var(--mainColor);
                    }
                }
            }
            &:first-child {
                .nav-link {
                    border-radius: 30px 0 0 30px;
                }
            }
            &:last-child {
                .nav-link {
                    border-radius: 0 30px 30px 0;
                }
            }
        }
    }
}
.single-pricing-box {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background-color: var(--whiteColor);
    padding: 40px 30px;

    h3 {
        margin-bottom: 0;
        background-color: #f9f9f9;
        text-align: center;
        font-size: 20px;
        padding: 12px 12px 11px;
    }
    .pricing-features {
        margin-bottom: 20px;
        padding-top: 30px;

        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                margin-bottom: 15px;
                color: #4b5280;
                position: relative;
                padding-left: 26px;

                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    position: absolute;
                    left: 0;
                    top: 3px;
                    width: 16px;
                    height: 16px;
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                    border-radius: 50%;
                    line-height: 16px;
                    text-align: center;
                    display: inline-block;
                    font-size: 13px;

                    &.action-close {
                        background-color: red;
                        padding-top: 1px;
                    }
                }
            }
        }
    }
    .price {
        font: {
            size: 35px;
            weight: 700;
        };
        span {
            display: block;
            color: #4b5280;
            margin-top: -2px;
            font: {
                size: 16px;
                weight: 500;
            };
        }
    }
    .default-btn {
        margin-top: 20px;
    }
}


// new css
section.pricing-area.pd-top {
    padding-top: 20px;
}
tr.pt-tr {
    width: 50%;
    display: inline-block;
}
table.pt-table {
    width: 100%;
    display:inline-block;
    font-size: 12px;
}
.card {
    border: none;
}
.card-header.hd{
  background-color:#fff !important;
  border: none;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}
.i-circle {
    width: 50px;
    margin-right: 5px;
    background: #f00;
    height: 50px;
    padding: 8px 0px;
    font-size: 35px;
    border-radius: 100px;
    color: #fff;
}
span.mb-0 {
    position: absolute;
    top: 30px;
    color: #212529;
    font-size: 16px !important;
    font-weight: 500;
}
table.tb-pdetail {
    width: 100%;
    font-size: 14px;
    color: #787070;
}
.tab-bx1 {
    width: 100%;
    border: 1px solid#cccccc8f;
    padding: 15px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .pricing-tabs {
        .nav-tabs {
            .nav-item {
                .nav-link {
                    font-size: 14px;
                }
            }
        }
    }
    .single-pricing-box {
        padding: 20px;

        h3 {
            font-size: 17px;
        }
        .price {
            font-size: 28px;

            span {
                font-size: 15px;
            }
        }
        .pricing-features {
            ul {
                li {
                    i.action-close {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    // new mobile css
    .pft-bx1 {
        width: 44% !important;
        margin-left: 0px !important;
    }
   .wd{
       width: 100%;
   }
    // close

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {



}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-pricing-box {
        padding: 30px 20px;
    }

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}