
<!-- Start Pricing Area -->
<section class="pricing-area pd-top ">
    <div class="container">
        <div class="pricing-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="detailed-tab" data-toggle="tab" href="#detailed" role="tab" aria-controls="detailed" aria-selected="true">Detailed Profiles</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="partner-tab" data-toggle="tab" href="#partner" role="tab" aria-controls="partner" aria-selected="false">Partner Preference</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Photo Gallery</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="detailed" role="tabpanel">
                    
                    <div id="accordion">
                        <div class="card">
                          <div class="card-header hd" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class=" bx bx-user i-circle"> </i>
                                <span class="mb-0">Basic Information</span>
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body bd-n">
                              basic information
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header hd" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="  bx bx-location-plus i-circle"></i>
                                <span class="mb-0">Present Address</span>
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Present Address
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header hd" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class=" bx bx-phone-call i-circle"></i>
                                <span class="mb-0">Contact Details</span>
                              </button>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body bd-n">
                                Contact Details
                            </div>
                          </div>
                        </div>
                      </div>
                     

                </div>

                <div class="tab-pane fade" id="partner" role="tabpanel">
                    <table class="pt-table table table-responsive">
                        <tbody style="width: 100%;">
                            <tr class="pt-tr">
                                <th>General	</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Residence Country</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Height</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Children Acceptable	</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Religion</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Caste</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Sub Caste	</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Language	</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Education	</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Profession		</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Smoking Acceptable		</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Drinking Acceptable		</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Diet		</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Body Type		</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Personal Value</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Manglik			</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Preferred Country</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>preferred_state_id</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Family Value	</th>
                                <td>	</td>
                            </tr>
                            <tr class="pt-tr">
                                <th>Complexion</th>
                                <td>	</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="gallery" role="tabpanel">
                   <div class="row">
                       <div class="col-lg-4">
                           <img src="assets/img/listings/listings9.png">
                       </div>
                       <div class="col-lg-4">
                        <img src="assets/img/listings/listings10.png">
                       </div>
                       <div class="col-lg-4">
                        <img src="assets/img/listings/listings11.png">
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Area -->

