@import "../../../dashboard.component.scss";

input.form-control.cd-n {
  width: 73%;
  display: inline-block;
}
span.cd-n {
  width: 27%;
  display: inline-block;
  background: #f5f5f5;
  padding: 11px 3px;
  color: #978e8e;
}
.bd-n {
    padding: 20px;
}
.form-group.fg-1 {
    margin-bottom: 10px;
    margin-bottom: 20px !important;
}

h3 {
    margin-bottom: 0;
    padding: 20px 25px 19px;
    border-bottom: 1px dashed #eeeeee;
    font: {
        size: 17px;
        weight: 600;
    };
}
.sm-text{
  width: 100%;
}
.card {
    border: none;
}

// slide-btn

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px !important;
    height: 25px !important;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px !important;
    width: 20px !important;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .form-group.fg-w {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 14px;
}
mat-form-field.mat-form-field.slt.ng-tns-c114-0.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-untouched.ng-pristine.ng-valid {
    width: 100% !important;
}
/* Max width 767px */
@media only screen and (max-width: 767px) {
}


/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {



}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {



}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {



}
