@import "../../dashboard.component.scss";

.btn-at {
    width: 100%;
    display: inline-block;
    text-align: right;
}
h3.rt-heading {
    padding: 0px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
 .note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
    background-color: #fff;
    color: #000;
    padding: 10px;
    overflow: auto;
    word-wrap: break-word;
}

// slide-btn

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px !important;
    height: 25px !important;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px !important;
    width: 20px !important;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.form-check {
    margin-bottom: 20px;

    .form-check-label {
        color: var(--blackColor);
        font-weight: 600;
    }
    label {
        position: relative;
        left: 0;
        top: -1px;
        font-weight: 600;
    }
    .form-check-input {
        margin-top: .2rem;
    }
}
.col-lg-12 {
    &:last-child {
        .form-group {
            margin-bottom: 0;
        }
    }
}

.bd-n {
    padding: 20px;
}
.form-group.fg-w {
    width: 100%;
    display: inline-flex;
    margin-bottom: 15px !important;
}

h3 {
    margin-bottom: 0;
    padding: 20px 25px 19px;
    border-bottom: 1px dashed #eeeeee;
    font: {
        size: 17px;
        weight: 600;
    };
}
.card {
    border: none;
}


// tab 

.mt-20 {
    margin-top: 50px !important
}


a:hover {
    color: #ff407b;
    text-decoration: none
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none
}

.btn-secondary {
    color: #fff;
    background-color: #ff407b;
    border-color: #ff407b
}

.btn {
    font-size: 14px;
    padding: 9px 16px;
    border-radius: 2px
}

.tab-vertical .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 0px;
    border-bottom: 0
}

.tab-vertical .nav.nav-tabs .nav-item {
    margin-bottom: 6px
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #fff;
    padding: 12px 15px;
    color: #fff;
    background-color: #00d4d4;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px
}

.tab-vertical .nav-tabs .nav-link.active {
    color: #f00;
    background-color: #fff !important;
    border-color: transparent !important
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0px !important
}

.tab-vertical .tab-content {
    overflow: auto;
    -webkit-border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    background: #fff;
    padding: 0px 30px;
}
.btn-ps {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
/* Max width 767px */
@media only screen and (max-width: 767px) {
}


/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {



}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}