<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div routerLink="/member/free-member" class="stats-card-box">
      <div class="icon-box">
        <i class='bx bx-map-alt'></i>
      </div>
      <span class="sub-title">Total Members</span>
      <h3>{{allusers}}</h3>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div routerLink="/member/premium-member" class="stats-card-box">
      <div class="icon-box">
        <i class='bx bx-line-chart'></i>
      </div>
      <span class="sub-title">Premium Members</span>
      <h3>{{premiumusers}}</h3>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="stats-card-box">
      <div class="icon-box">
        <i class='bx bx-star'></i>
      </div>
      <span class="sub-title">Free Members</span>
      <h3>{{freeusers}}</h3>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="stats-card-box">
      <div class="icon-box">
        <i class='bx bx-heart'></i>
      </div>
      <span class="sub-title">Block Members</span>
      <h3>{{blockedusers}}</h3>
    </div>
  </div>
</div>
