<app-navbar-style-one></app-navbar-style-one>


<!-- Start Listings Area -->
<section class="listings-area dd-cs" style="padding: 40px 0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <aside class="listings-widget-area">
          <section class="widget widget_filters rs-pd">
            <h3 class="widget-title">ADVANCED SEARCH
            </h3>
            <form [formGroup]="filteruserform" (ngSubmit)="filter()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="lb-ser">Age From</label>
                    <input type="number" placeholder="20" class="form-control" formControlName="minage">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="lb-ser">To</label>
                    <input type="number" placeholder="30" class="form-control" formControlName="maxage">
                  </div>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Member ID</mat-label>
                    <input matInput placeholder="MatriID" formControlName="MatriID">

                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Marital Status</mat-label>
                    <mat-select formControlName="Maritalstatus" multiple>
                      <mat-option *ngFor="let maritalstatus of allmaritalstatus" [value]="maritalstatus._id">
                        {{maritalstatus?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Religion</mat-label>
                    <mat-select #reli (ngModelChange)="casteofselect($event)" formControlName="Religion" multiple>
                      <mat-option *ngFor="let religion of allreligion" [value]="religion._id">{{religion?.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Caste</mat-label>
                    <mat-select formControlName="Caste" multiple>
                      <mat-option *ngFor="let caste of allcaste" [value]="caste._id">{{caste?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Mother Tongue</mat-label>
                    <mat-select formControlName="Language" multiple>
                      <mat-option *ngFor="let language of alllanguage" [value]="language._id">{{language?.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="Country" (ngModelChange)="stateofselect($event)" multiple>
                      <mat-option *ngFor="let country of allcountry" [value]="country._id">{{country?.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="State" multiple>
                      <mat-option *ngFor="let state of allstate" [value]="state._id">{{state?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="City" multiple>
                      <mat-option *ngFor="let city of allcity" [value]="city._id">{{city?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Min Height</mat-label>
                    <mat-select (ngModelChange)="slicingdata($event)" formControlName="minheight">
                      <mat-option *ngFor="let height of allheights let i = index" [value]="height.cmvalue">
                        {{height.feetinchvalue}}
                        Feet
                        {{height.cmvalue}} Cm</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Max Height</mat-label>
                    <mat-select formControlName="maxheight">
                      <mat-option *ngFor="let height of minheights" [value]="height.cmvalue">{{height.feetinchvalue}}
                        Feet
                        {{height.cmvalue}} Cm</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <label class="lb-ser">MEMBER TYPE</label>
                  <div class="custom-control custom-checkbox">


                    <mat-radio-group aria-label="Select an option" formControlName="memtype" style="    display: flex;
                    flex-direction: column;">
                      <mat-radio-button value="FM">Free Member</mat-radio-button>
                      <mat-radio-button value="PM">Premium Member</mat-radio-button>
                      <mat-radio-button value="">All Member</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div _ngcontent-xdt-c89="">
                  <button class="sre-btn" type="submit">Search</button>
                  <button class="sre-cnl-btn" style="margin-left: 10px;" (click)="resetsearch()">Reset</button>
                </div>
              </div>
            </form>
          </section>


        </aside>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="listings-grid-sorting row align-items-center">

          <h3 class="widget-title">ALL MEMBERS({{users?.length}})</h3>
        </div>
        <div class="spinner-box" *ngIf="loader">
          <div class="pulse-container">
            <div class="pulse-bubble pulse-bubble-1"></div>
            <div class="pulse-bubble pulse-bubble-2"></div>
            <div class="pulse-bubble pulse-bubble-3"></div>
          </div>
        </div>
        <div *ngIf="users" class="row">
          <div class="col-lg-12 col-md-12"
            *ngFor="let Content of users | paginate: { itemsPerPage: 50, currentPage: verticalListings }">
            <div class="single-listings-item">
              <div class="row m-0">
                <div class="col-lg-4 col-md-4 p-0 img-blur">
                  <div *ngIf="!Content.photo_privacy" class="listings-image" style="background-image: url({{Content.Photo1}}
                  );">
                    <img [src]="Content.Photo1" alt="image">
                    <!-- <a routerLink="/{{Content.bookmarkLink}}" class="bookmark-save"><i class="flaticon-heart"></i></a> -->
                    <a routerLink="/profile-detail/{{Content._id}}" class="link-btn"></a>
                  </div>
                  <div *ngIf="Content.photo_privacy" class="listings-image" style="background-image: url({{Content.Photo1}}
                  ); filter: blur(15px);">
                    <img [src]="Content.Photo1" alt="image">
                    <!-- <a routerLink="/{{Content.bookmarkLink}}" class="bookmark-save"><i class="flaticon-heart"></i></a> -->
                    <a routerLink="/profile-detail/{{Content._id}}" class="link-btn"></a>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 p-0">
                  <div class="listings-content">
                    <span [ngClass]=" Content?.OnlineUsers == 1 ? 'status' : 'status status-close'">
                      {{Content?.OnlineUsers == 1 ? 'Online Now' : 'Offline'}}</span>
                    <h3 class="mid">ID: <span class="mds">{{Content?.MatriID}}</span>
                    </h3>
                    <!-- <div class="row" style="display: flex;">
                      <h3 class="mid">ID: <span class="mds">{{Content?.MatriID}} </span>|</h3>
                      <h3 style="
                      background-color: #70c029;
                      width: 9px;
                      height: 9px;
                      border-radius: 10px;
                      margin: 5px;"></h3>
                      <h3 style="font: size 14px;">Online</h3>
                    </div> -->

                    <div class="d-flex align-items-center justify-content-between">
                    </div>
                    <div class="dt">
                      <ul>
                        <li><span> {{Content?.Maritalstatus?.name}}</span></li>
                        <li>{{Content?.Age}} Yrs,
                          {{Content?.Height?.feetinchvalue}}
                          ({{Content?.Height?.cmvalue}} cm) <span></span></li>
                        <li>{{Content?.Religion?.name || "Religion N/A"}},
                          <span>{{Content?.Caste?.name || "Caste N/A"}}</span>
                        </li>
                        <li><b> From: </b><span> {{Content?.City?.name}},
                            {{Content?.State?.name}},
                            {{Content?.Country?.name}}</span></li>
                        <li><b>Living in:</b> <span>{{Content?.LCity?.name}},
                            {{Content?.LState?.name}},
                            {{Content?.LCountry?.name}}</span> </li>
                      </ul>
                    </div>


                    <ul class="listings-meta">
                      <li><a routerLink="/profile-detail/{{Content._id}}"><i class=" bx bx-user"
                            style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                          <p class="i_t">Profile</p>
                        </a></li>
                      <li><i (click)="sendinterest(Content._id)" class="bx bx-heart"
                          style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                        <p class="i_t">Send Interest</p>
                      </li>
                      <li><i (click)="startchat(Content._id)" class="bx bx-chat"
                          style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                        <p class="i_t">Chat</p>
                      </li>
                      <li><i (click)="addtoshortlist(Content._id)" class="bx bx-list-plus"
                          style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                        <p class="i_t">Shortlist</p>
                      </li>
                      <li *ngIf="Content?.photo_privacy"><i (click)="sendphotoreq(Content._id)"
                          class="bx bx-lock-open-alt" style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                        <p class="i_t">View Profile</p>
                      </li>

                      <li><i (click)="blockauser(Content._id)" class=" bx bx-block"
                          style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                        <p class="i_t">Block</p>
                      </li>
                      <li><i (click)="reportauser(Content._id)" class=" bx bx-error-circle"
                          style="box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 29%)"></i>
                        <p class="i_t">Report</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12">
            <div class="pagination-area text-center">
              <pagination-controls (pageChange)="verticalListings = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Listings Area -->

<app-footer-style-two></app-footer-style-two>
