<!-- Start Navbar Area -->
<div class="navbar-area navbar-style-two">
  <div class="vesax-responsive-nav">
    <div class="container">
      <div class="vesax-responsive-menu">
        <a class="navbar-brand" style="color: white;
        font-size: 1rem;" routerLink="/"><img style="width: 48px;" [src]="filepath ||stndpath" alt="logo" />
          {{logo?.title}}</a>
        <!-- <h2 style="color: #fff;" routerLink="/">Logo</h2> -->
      </div>
    </div>
  </div>

  <div class="vesax-nav">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" style="color: white;
        font-size: 2rem;" routerLink="/"><img style="width: 48px;" [src]="filepath ||stndpath" alt="logo" />
          {{logo?.title}}</a>
        <!-- <h2 style="color: #fff;">Logo</h2> -->

        <div class="collapse navbar-collapse mean-menu">


          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Home</a>


            </li>

            <li *ngIf="checkauth" class="nav-item ">
              <a routerLink="/vertical-listings-left-sidebar" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Search</a>


            </li>

            <li *ngIf="checkauth" class="nav-item">
              <a routerLink="/premium-plan" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Upgrade Now</a>

            <li *ngIf="checkauth" class="nav-item">
              <a routerLink="/user-dashboard" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">My Profile</a>

            </li>

            <li class="nav-item ">
              <a routerLink="/demo" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Success Story</a>
            </li>

            <li class="nav-item">
              <a routerLink="/about" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">About Us</a>

            </li>

            <li class="nav-item">
              <a routerLink="/contact" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Contact Us</a>

            </li>
          </ul>

          <!-- without login  menu-->


          <!-- close -->

          <div class="others-option d-flex align-items-center">


            <div *ngIf="!checkauth" class="option-item">
              <a class="default-btn btn-lr" href="/login"><i class="flaticon-user"></i> Login</a>
              <a class="default-btn" href="/"><i class="flaticon-user"></i> Register</a>
            </div>

            <!-- profile btn -->
            <div *ngIf="checkauth" class="option-item">
              <img [src]="mydetail?.Photo1 || userpath" class="img-pro" />
              <span>
                <a class="default-btn bt-rm" (click)="logout()"><i class="flaticon-user" style="color: #1ee2e9;"></i>
                  Logout</a>
              </span>
            </div>
            <!-- profile btn -->
          </div>
        </div>


      </nav>
    </div>
  </div>



  <div class="others-option-for-responsive">
    <div class="container">
      <div class="dot-menu">
        <div class="inner">
          <div class="circle circle-one"></div>
          <div class="circle circle-two"></div>
          <div class="circle circle-three"></div>
        </div>
      </div>

      <div class="container">
        <div class="option-inner">
          <div class="others-option">


            <div *ngIf="!checkauth" class="option-item">
              <a class="default-btn btn-lr" href="/login"><i class="flaticon-user"></i> Login</a>
              <a class="default-btn" href="/"><i class="flaticon-user"></i> Register</a>
            </div>

            <!-- profile btn -->
            <div *ngIf="checkauth" class="option-item">
              <img src="assets/img/user1.png" class="img-pro" />
              <span>
                <a class="default-btn bt-rm" (click)="logout()"><i class="flaticon-user" style="color: #1ee2e9;"></i>
                  Logout</a>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
