<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-dashboard-navbar></app-dashboard-navbar>

  <!-- Breadcrumb Area -->
  <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
    <h1>{{Content.title}}</h1>
    <ol class="breadcrumb">
      <li class="item"><a routerLink="/">Home</a></li>
      <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
      <li class="item">{{Content.title}}</li>
    </ol>
  </div>
  <!-- End Breadcrumb Area -->

  <!-- Start -->
  <!-- <div _ngcontent-rqo-c140="" class="bx-right"><a _ngcontent-rqo-c140="" href="/staffs/all-staff/add-new-staffs"
      class="btn btn-success rs-btn">Add New staffs</a></div> -->
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <h3>All Roles</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Profile Attr</th>
                <th>Package Plan</th>
                <th>User Profile</th>
                <th>Staff</th>
                <th>Happy Story</th>
                <th>OTP System</th>
                <th>Website Settings</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of allrole;">
                <td class="#">
                  {{role?.sortorder}}
                </td>
                <td class="name">
                  {{role?.name}}
                </td>
                <td class="name">
                  {{role?.edit_profileattribute}}
                </td>
                <td class="name">
                  {{role?.edit_plans}}
                </td>
                <td class="name">
                  {{role?.edit_userprofile}}
                </td>
                <td class="name">
                  {{role?.edit_staff}}
                </td>
                <td class="name">
                  {{role?.edit_happystory}}
                </td>
                <td class="name">
                  {{role?.edit_otpsystem}}
                </td>
                <td class="name">
                  {{role?.edit_websitesetup}}
                </td>
                <td class="option">
                  <a class="st-i"><i class=' bx bx-pencil' (click)="getonerole(role._id)"></i> </a>
                  <a class="st-i2"><i class=' bx bx-minus' (click)="deleterole(role._id)"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!editmode" class="col-lg-4">
      <div class="card">
        <h3>Add New Member Role</h3>
        <form [formGroup]="role" (ngSubmit)="submitForm()" class="bd-n" ngNativeValidate>
          <div class="form-group">
            <label>#Order</label>
            <input type="number" class="form-control" placeholder="5" formControlName="sortorder" required>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="name" formControlName="name" required>
          </div>

          <div class="form-group">
            <label>Read/Write Profile Attributes</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_profileattribute">
          </div>
          <div class="form-group">
            <label>Read/Write Package Plans</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_plans">
          </div>
          <div class="form-group">
            <label>Read/Write User Profile</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_userprofile">
          </div>
          <div class="form-group">
            <label>Read/Write Staff</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_staff">
          </div>

          <div class="form-group">
            <label>Read/Write Happy Story</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_happystory">
          </div>
          <div class="form-group">
            <label>Read/Write OTP System</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_otpsystem">
          </div>
          <div class="form-group">
            <label>Read/Write WebSite Settings</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_websitesetup">
          </div>
          <div class="form-group">
            <label>Read/Write Other Settings</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_othersetting">
          </div>
          <div class="btn-bx">
            <button class="btn btn-primary mt-2" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="editmode" class="col-lg-4">
      <div class="card">
        <h3>Edit Role</h3>
        <form [formGroup]="editrole" (ngSubmit)="updaterole()" class="bd-n" ngNativeValidate>
          <label>#Order</label>
          <input type="number" class="form-control" placeholder="5" formControlName="sortorder" required>
          <label>Name</label>
          <input type="text" class="form-control" placeholder="name" formControlName="name" required>

          <div class="form-group">
            <label>Read/Write Profile Attributes</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_profileattribute">
          </div>
          <div class="form-group">
            <label>Read/Write Package Plans</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_plans">
          </div>
          <div class="form-group">
            <label>Read/Write User Profile</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_userprofile">
          </div>
          <div class="form-group">
            <label>Read/Write Staff</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_staff">
          </div>

          <div class="form-group">
            <label>Read/Write Happy Story</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_happystory">
          </div>
          <div class="form-group">
            <label>Read/Write OTP System</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_otpsystem">
          </div>
          <div class="form-group">
            <label>Read/Write WebSite Settings</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_websitesetup">
          </div>
          <div class="form-group">
            <label>Read/Write Other Settings</label>
            <input type="checkbox" class="form-control st-chk" formControlName="edit_othersetting">
          </div>


          <button class="btn btn-primary mt-2" type="submit">Update</button><button class="btn btn-primary mt-2 ml-2"
            type="submit" (click)="cancelupdate()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <!-- End -->

  <div class="flex-grow-1"></div>

  <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->
