@import "../../dashboard.component.scss";

.form-check {
    margin-bottom: 20px;

    .form-check-label {
        color: var(--blackColor);
        font-weight: 600;
    }
    label {
        position: relative;
        left: 0;
        top: -1px;
        font-weight: 600;
    }
    .form-check-input {
        margin-top: .2rem;
    }
}
.col-lg-12 {
    &:last-child {
        .form-group {
            margin-bottom: 0;
        }
    }
}

.bd-n {
    padding: 20px;
}

h3 {
    margin-bottom: 0;
    padding: 20px 25px 19px;
    border-bottom: 1px dashed #eeeeee;
    font: {
        size: 17px;
        weight: 600;
    };
}
.card {
    border: none;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
}


/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {



}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}