<app-navbar-style-one></app-navbar-style-one>

<!-- Start FAQ Area -->
<section class="faq-area bg-f9f9f9 pt-100 pb-70 st-t">
    <div class="container">
        <h2 class="st-p">Privacy Policy</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12" >
                <div class="faq-item">
                    <quill-view [content]="data" format="html" theme="snow"></quill-view>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FAQ Area -->
<app-footer-style-two></app-footer-style-two>