<!-- Start Events Area -->
<section class="events-area pt-100 pb-70">
  <div class="container">
    <!-- <div class="section-title" *ngFor="let Title of sectionTitle;">
            <h2>{{Title.title}}</h2>
            <p>{{Title.paragraph}}</p>
        </div> -->

    <div class="row">
      <!-- <div class="col-lg-6 col-md-12">
                <div class="events-box" *ngFor="let Content of eventsBox;">
                    <img [src]="Content.img" alt="image">
                    <div class="content">
                        <h3>{{Content.title}}</h3>
                        <span class="meta"><i class="flaticon-calendar"></i> {{Content.date}}</span>
                    </div>
                    <a routerLink="/{{Content.link}}" class="link-btn"></a>
                </div>
            </div>  -->

      <div class="col-lg-12 col-md-12">
        <div class="events-item-list">
          <h3 class="smp">Similar Profiles </h3>
          <div class="single-events-box" *ngFor="let Content of similarprofiles  | slice:0:3;">
            <div class="row m-0">
              <div class="col-lg-4 col-md-4 p-0">
                <div class="image" style="background-image: url({{Content?.Photo1}});" class="img-simlar"> 
                  <!-- <img [src]="Content?.img" alt="image"> -->
                  <a routerLink="/profile-detail/{{Content?._id}}" class="link-btn"></a>
                </div>
              </div>

              <div class="col-lg-8 col-md-8 p-0">
                <div class="content" >
                  <span class="meta"><i class="flaticon-heart"></i>
                    {{Content?.Maritalstatus?.name}},{{Content?.Age}}</span>
                  <h3><a routerLink="/profile-detail/{{Content._id}}">{{Content?.Prefix}}{{Content?.MatriID}}</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Events Area -->
