<app-navbar-style-one></app-navbar-style-one>
<section class="bg-img">
  <div class="container">
    <div class="row">
      <div class="offset-lg-7 col-lg-5">
        <div class="card pd-5">
          <div class="tl-text">
            <h3>We Need few more information </h3>
            <p>To server you better expireince we needfew more information please submit following .</p>
          </div>
          <form [formGroup]="userinfo" (ngSubmit)="submitandmovephoto()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Religion <span style="color: red;">*</span></label>
                  <select #selectedreligion (ngModelChange)="castofrelgion($event)" class="form-control"
                    formControlName="Religion">
                    <option [value]="religion._id" *ngFor="let religion of allreligion">
                      {{religion.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Caste <span style="color: red;">*</span> </label>
                  <select class="form-control" formControlName="Caste">
                    <option [value]="caste._id" *ngFor="let caste of allcaste">
                      {{caste.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Manglik Status <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="Manglik">
                    <option value="not_manglik" selected>Not Manglik</option>
                    <option value="manglik">Manglik</option>
                    <option value="ardh_manglik">Ardh Manglik</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Height<span style="color: red;">*</span> </label>
                  <select class="form-control" formControlName="Height">
                    <option [value]="height._id" *ngFor="let height of allheights">
                      {{height.feetinchvalue}} Feet {{height.cmvalue}} Cm</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Place Of Birth <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="POB">
                    <option [value]="city._id" *ngFor="let city of allcity">
                      {{city.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Time Of Birth <span style="color: red;">*</span> </label>
                  <input type="time" placeholder="Time of Birth" formControlName="TOB" class="form-control">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="lb-ser">Education<span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="Education">
                    <option [value]="education._id" *ngFor="let education of alleducation">
                      {{education.name}}, {{education.place}}</option>
                  </select>
                </div>
              </div>
              <p class="sub-text"><b>Occupation Details <span style="color: red;">*</span></b></p>
              <hr>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Type of Employement <span style="color: red;">*</span> </label>
                  <select class="form-control" formControlName="Employedin">
                    <option [value]="employedin._id" *ngFor="let employedin of allemployedin">
                      {{employedin.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Occupation <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="Occupation">
                    <option [value]="occupation._id" *ngFor="let occupation of alloccupation">
                      {{occupation.name}}</option>
                  </select>
                </div>
              </div>

              <p class="sub-tx">Living in (Where you are living)</p>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Living Country <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="LCountry">
                    <option [value]="country._id" *ngFor="let country of allcountry">
                      {{country.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Living State <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="LState">
                    <option [value]="state._id" *ngFor="let state of allstate">
                      {{state.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Living City <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="LCity">
                    <option [value]="city._id" *ngFor="let city of allcity">
                      {{city.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">

              </div>

              <p class="sub-tx">Select Your Home Twon/Native Place (Where you belong originaly</p>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Native Country <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="Country">
                    <option [value]="country._id" *ngFor="let country of allcountry">
                      {{country.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Native State <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="State">
                    <option [value]="state._id" *ngFor="let state of allstate">
                      {{state.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="lb-ser">Native City <span style="color: red;">*</span></label>
                  <select class="form-control" formControlName="City">
                    <option [value]="city._id" *ngFor="let city of allcity">
                      {{city.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button type="submit" class="btnrg">
                Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
