<section class="bg-img">
    <div class="container">
        <div class="row">
            <div class="offset-lg-6 col-lg-6">
                <div class="card pd-5">
                    <div class="tl-text" >
                        <h3>We Need few more information </h3>
                        <p>To server you better expireince we needfew more information please submit following .</p>
                    </div>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Religion</label>
                                <select class="form-control">
                                    <option>Friend</option>
                                    <option>Brother</option>
                                    <option>Sister</option>
                                    <option>Daughter/Son</option>
                                    <option>Selfs</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Cast </label>
                                <select class="form-control">
                                    <option>Hindu</option>
                                    <option>Jain</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Manglik Status </label>
                                <input type="text" placeholder="Manglik Status" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Height </label>
                                <input type="text" placeholder="5'4" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Birth Place </label>
                                <input type="text" placeholder="Birth Place" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Time Of Birth </label>
                                <input type="text" placeholder="Time of Birth" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="lb-ser">Education</label>
                                <input type="text" placeholder="Time of Birth" class="form-control">
                            </div>
                        </div>

                        <p class="sub-text"><b>Occupation Details</b></p>
                       
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Type of Employement </label>
                                <select class="form-control">
                                    <option>Government</option>
                                    <option>Private</option>
                                    <option>Self</option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Occupation</label>
                                <input type="text" placeholder="Occupation" class="form-control">
                            </div>
                        </div>

                        <p class="sub-tx">Select City you are Living in (Where you are living settled</p>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Country</label>
                                <select class="form-control">
                                    <option>India</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">State</label>
                                <select class="form-control">
                                    <option>Mp</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">City</label>
                                <select class="form-control">
                                    <option>Indore</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                       
                        <p class="sub-tx">Select Your Home Twon/Native Place  (Where you belong  originaly</p>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">Country</label>
                                <select class="form-control">
                                    <option>India</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">State</label>
                                <select class="form-control">
                                    <option>Mp</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lb-ser">City</label>
                                <select class="form-control">
                                    <option>Indore</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                     <div class="btn-box">
                    <button type="button" class="btnrg" data-toggle="modal" data-target="#verifymobile" data-dismiss="modal">
                        Register Now</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>