<app-navbar-style-one></app-navbar-style-one>

<section class="pt-80">
<div class="row">
    <div class="col-12">
             
      <ng-stepper #cdkStepper [linear]="true">
        <cdk-step [stepControl]="" [optional]="false">
          <ng-template cdkStepLabel>
            <div class="step-bullet">1</div>
             <div class="step-title">Personal Details <span class="required">*</span></div>
          </ng-template>
          <!-- <app-register-form></app-register-form> -->
    
    
          jdfhdfhdfhdhf

          <div class=" p-0">
            <div class="form-group"><button [disabled]="" class=" add-btn" type="submit"
                cdkStepperNext>Save & Continue</button>
            </div>
          </div>
        </cdk-step>
    
        <cdk-step [stepControl]="" [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">2</div>
            <div class="step-title">Address</div>
          </ng-template>
          <!-- <app-business-form #stepTwo></app-business-form> -->
    
         fjjffjkjfdfd
        
    
    
        </cdk-step>
    
       
    
      
    
       
      </ng-stepper>
   



     </div>
 </div>




</section>

<app-footer-style-two></app-footer-style-two>